.common-posts__item {
  display: block;
  width: 320px;
  height: 287px;
  -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.21);
          box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.21);
  overflow: hidden; }
  .common-posts__item:hover .common-posts__image {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2); }
  @media (max-width: 991px) {
    .common-posts__item {
      margin: 10px 0;
      width: 230px; } }
  @media (max-width: 768px) {
    .common-posts__item {
      margin: 10px 0;
      width: 310px;
      -webkit-box-shadow: none;
              box-shadow: none; }
      .common-posts__item:hover .common-posts__image {
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1); } }
