@import "../fonts.sass"

#wallet
	padding: 20px
	position: relative
	z-index: 10003
	width: 100%
	height: 100vh
	min-height: 1450px
	top: 100vh
	text-align: center
	.wallet__content--wrapper
		position: relative
		overflow: hidden
		background-color: #150526
		background-image: url("/app/assets/img/website-parts/wallet/wallet-bg.png")
		background-size: cover
		background-attachment: fixed
		width: 100%
		height: 100%
		.wallet-bg-image
			position: absolute
			@media(max-width: 768px)
				display: none
			&.one
				bottom: 54px
				left: 66px
			&.two
				top: 141px
				left: 328px
		.wallet-lines
			display: block
			position: absolute
			top: 0
			left: 0
			width: 110%
			height: 100%
	.wallet__wrapper
		position: absolute
		left: 50%
		top: 50%
		margin-left: -450px
		margin-top: -650px
		z-index: 1
		width: 900px
		height: 1300px
		background-color: transparent
		box-shadow: 0 2px 19px 0 rgba(0, 0, 0, 0.15)
		.wallet__left-part
			vertical-align: top
			display: inline-block
			width: 430px
			margin-right: 100px
		.wallet__right-part
			vertical-align: top
			display: inline-block
			width: 330px
		.wallet__left-part
			.week-info
				font-family: $sans
				font-weight: 700
				font-size: 16px
				color: #c72897
				text-align: left
				margin-bottom: 0
				@media(max-width: 768px)
					font-size: 14px
					text-align: center
					display: none
				&.half-opacity
					opacity: 0.5
					margin-bottom: 24px
			.wallet__left-part--title
				position: relative	
				margin-bottom: 24px
				font-size: 22px
				text-align: left
				font-family: $sans
				font-weight: 600
				letter-spacing: 0.45px
				color: white
				.icobazar-link
					display: block
					position: absolute
					top: -8px
					width: 40px
					&:nth-child(1)
						left: 140px
						&:before
							content: "ICObazaar 4.0"
							left: -25px
					&:nth-child(2)
						left: 200px
						&:before
							content: "ICOHOLDER 4.03"
							left: -35px
					&:nth-child(3)
						left: 260px
						&:before
							content: "ICObench 4.6"
							left: -20px	
					&:hover
						&:before
							opacity: 1
						img
							opacity: 1
					&:before
						position: absolute
						top: -30px
						font-family: $sans
						font-size: 14px
						color: white
						display: block
						width: 160px
						opacity: 0
						transition: all 0.3s ease-out
					img
						width: 40px
						opacity: 0.5
						transition: all 0.3s ease-out
			.start-date
				position: relative
				display: inline-block
				float: left
				font-size: 14px
				font-weight: 400
				letter-spacing: 0.3px
				text-align: left
				color: white
				width: 147px
				height: 38px
			.end-date
				position: relative
				display: inline-block
				font-size: 14px
				font-weight: 400
				letter-spacing: 0.3px
				text-align: left
				color: white
				width: 147px
				height: 38px
			.wallet__left-part-l
				width: 49.5%
				display: inline-block
				vertical-align: top
				ul
					margin-top: 10px
					list-style: none
					padding-left: 0
					li
						text-align: left
						font-size: 16px
						line-height: 33px
						opacity: 0.75
						color: white
			.wallet__left-part-r
				width: 49%
				display: inline-block
				vertical-align: top
				ul
					margin-top: 10px
					list-style: none
					padding-left: 0
					li
						text-align: left
						font-size: 16px
						line-height: 33px
						opacity: 0.75
						color: white
			.wallet__left-part-r
				width: 49%
				display: inline-block
		.wallet__right-part
			.wallet__right-part--title
				font-size: 22px
				text-align: left
				font-family: $sans
				font-weight: 600
				letter-spacing: 0.45px
				color: white
			ul
				margin-top: 80px
				list-style: none
				padding-left: 0
				li
					text-align: left
					font-size: 16px
					height: 60px
					opacity: 0.75
					color: white
					&:nth-child(1)
						&:before
							content: "1.  "
					&:nth-child(2)
						&:before
							content: "2.  "
					&:nth-child(3)
						&:before
							content: "3.  "
			.wallet__button
				position: relative
				display: inline-block
				vertical-align: bottom
				width: 49%
				top: -14px
				span.mobile
					display: none
				&.one
					left: -40px
	.ito-structure
		margin-top: 30px
		position: relative
		left: -75px
		width: 1000px
		.is-choser
			display: none
			@media(max-width: 991px)
				display: block
		.is-wrapper
			position: relative
			width: 1000px
		.is-title
			padding-left: 49px
			margin-bottom: 65px
			width: 100%
			text-align: center
			font-size: 22px
			letter-spacing: 0.4px
			color: white
			font-family: $sans
			font-weight: 600
		.stage
			position: relative
			width: 360px
			height: 320px
			display: inline-block
			&.second
				opacity: 1 !important
				left: 55px
			&.third
				left: 100px
			&.non-active
				width: 268px
				opacity: 0.24
				.stage-counter
					width: 46px
					.sc-counter
						width: 46px
						.sc-price
							font-size: 12px
							&.first
								left: 3px
							&.second
								left: 6px
					.stage-number
						left: 0
			.stage-legend
				position: absolute
				left: 0
				.sl-title
					position: relative
					top: -6px
					text-align: left
					font-size: 18px
					letter-spacing: 0.3px
					color: white
					font-family: $sans
					font-weight: 600
				.sl-list
					padding-left: 0
					list-style: none
					.sl-list-item
						line-height: 33px
						text-align: left
						font-size: 14px
						letter-spacing: 0.3px
						color: rgba(255,255,255,.75)
						font-family: $sans
						font-weight: 600
						&:before
							display: inline-block
							width: 100px
							color: rgba(255,255,255,1)
						&:nth-child(1)
							&:before
								content: "Token price"
						&:nth-child(2)
							&:before
								content: "Hard cap"
						&:nth-child(3)
							&:before
								content: "Soft cap"
						&:nth-child(4)
							&:before
								content: "Start date"
						&:nth-child(5)
							&:before
								content: "End date"
						.sl-list-item-currency
							@media(max-width: 768px)
								display: none
							&.mob
								display: none
								@media(max-width: 768px)
									display: inline-block
			.stage-counter
				width: 135px
				height: 320px
				position: absolute
				right: 0
				.sc-counter
					position: absolute
					left: 0
					top: 0
					width: 70px
					height: 316px
					border: 1px solid white
					&:before
						content: ""
						width: 100%
						height: 1px
						position: absolute
						left: 0
						top: 81px
						background-color: white
					.total-stage-counter
						position: absolute
						z-index: 0
						bottom: 0
						width: 100%
						background-color: #c72897
					.sc-price
						text-align: center
						position: absolute
						z-index: 1
						font-family: $sans
						font-weight: 400
						font-size: 14px
						color: white
						&.first
							left: 12px
							top: 34px
						&.second
							bottom: 92px
							left: 12px
				.stage-number
					display: block
					width: 50px
					position: absolute
					bottom: -24px
					left: 12px
					font-family: $sans
					font-weight: 400
					font-size: 14px
					color: white
				.sc-legend
					position: absolute
					right: -10px
					top: 0
					height: 320px
					width: 62px
					.sc-legend-ach
						position: absolute
						left: 0
						display: block
						font-family: $sans
						font-weight: 400
						font-size: 14px
						color: white
						text-align: left
						&.first
							top: -6px
						&.second
							top: 77px
						&.third
							bottom: 139px
						#sc-legend-raised-first
							color: #c72897


	.wallet-banner
		width: 657px
		height: 85px
		padding: 10px 20px 10px 20px
		margin: 85px auto
		text-align: left
		border-width: 3px 3px 3px 3px;
		border-style: solid
		-webkit-border-image: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,68,203,1)), color-stop(100%, rgba(255,42,198,1))) 1
		-webkit-border-image: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,68,203,1)), color-stop(100%, rgba(255,42,198,1))) 1
		-moz-border-image: -moz-linear-gradient(to right, rgba(0,68,203,1) 0%, rgba(255,42,198,1) 100%) 1
		-o-border-image: -o-linear-gradient(to right, rgba(0,68,203,1) 0%, rgba(255,42,198,1) 100%) 1
		border-image: linear-gradient(to right, rgba(0,68,203,1) 0%, rgba(255,42,198,1) 100%) 1
		.wb-first
			margin-bottom: 0
			font-family: $sans
			font-weight: 400
			font-size: 16px
			color: rgba(255,255,255,.67)
			a
				position: relative
				top: 0
				font-size: 18px
				font-weight: 700
				color: rgba(255,255,255,1)
				text-decoration: none
				img
					position: relative
					top: -2px
					left: 1px
		.wb-second
			font-family: $sans
			font-weight: 600
			font-size: 25px
			color: white
			line-height: 32px
			span
				color: #eb3386

	.wallet__title
		font-family: $gilroy_light
		font-size: 48px
		font-weight: 300
		font-style: normal
		font-stretch: normal
		line-height: normal
		letter-spacing: normal
		color: white
	.wallet__separator
		margin: 45px auto 80px
		width: 60px
		height: 3px
		background-color: #ef3f9e
@media (min-width: 991px) and (max-width: 1200px)
	#wallet
		.ito-structure
			left: -95px
			.is-title
				padding-left: 87px
			.stage
				&.first
					left: 38px
				&.third
					left: 65px
@media (max-width: 991px)
	#wallet
		.ito-structure
			width: auto
			left: unset
			.is-title
				margin-bottom: 50px
			.is-choser
				margin-bottom: 53px
				.isc-list
					padding-left: 0px
					list-style: none
					.isc-item
						display: inline-block
						color: white
						font-family: $sans
						font-weight: 300
						margin-right: 10px
						&.active
							font-weight: 700
						&:last-child
							margin-right: 0
			.is-wrapper
				width: auto
				left: unset
			.is-title
			.stage
				display: block
				left: unset
				right: unset
				margin: 0 auto
				&.second,&.third
					left: unset
					display: none
@media (min-width: 769px) and (max-width: 991px)
	#wallet
		.wallet__wrapper
			width: 100%
			margin-left: 0
			left: 0
			.wallet__left-part
				margin-right: 0
				width: 390px
				margin: 0 auto
			.wallet__right-part
				margin: 0 auto
				width: 280px
				.wallet__button.one
					left: -80px
				.wallet__button.two
					left: -50px
@media (max-width: 768px)
	#wallet
		top: 0
		min-height: 1635px
		padding: 0
		.wallet__content--wrapper
			background-image: none
			background-color: #1b0531
		.wallet__title
			font-size: 28px
			letter-spacing: 0.4px
		.wallet__separator
			margin: 45px auto
		.wallet__wrapper
			padding-top: 35px
			width: 100%	
			margin: 0 auto
			position: static
			.wallet__left-part
				width: 100%
				margin: 0 auto
				padding: 0 40px;
				.end-date,.start-date
					text-align: left
					padding-left: 17px
					padding-right: 17px
					margin-bottom: 0
					font-size: 12px
					width: 100%
					float: unset
					span
						position: relative
						&:nth-child(1)
							top: 11px
						&:nth-child(3)
							float: right
							top: -7px
				.start-date
					background-color: rgba(255,255,255,0.07)
				.wallet__left-part--title
					text-align: center
					margin-bottom: 35px	
					.icobazar-link
						&:before
							opacity: 1
							top: unset
							font-size: 12px
							width: 60px
							text-align: center
							font-weight: 400
							z-index: 3
						&:nth-child(1)
							left: 170px
							top: 590px
							&:before
								bottom: -32px
								left: -10px
						&:nth-child(2)
							top: 590px
							left: 50%
							margin-left: -20px
							&:before
								bottom: -32px
								left: -14px
						&:nth-child(3)
							top: 590px
							left: unset
							right: 170px
							&:before
								bottom: -32px
								left: -8px
						img
							opacity: 1
				.wallet__left-part-l
					display: none
					left: 2%
					ul
						li
							font-size: 12px
				.wallet__left-part-r
					width: 100%
					left: 2%
					ul
						margin-top: 0
						li
							padding: 0 17px 0 17px
							text-align: center
							font-size: 12px
							text-align: right
							line-height: -30
							&:nth-child(odd)
								background-color: rgba(255,255,255,0.07)
							&:nth-child(even)
								background-color: #1b0531
							&:before
								display: inline-block
								opacity: 1
								height: 18px
								font-weight: 700
								float: left
							&:nth-child(1)
								&:before
									content: "Token price"
							&:nth-child(2)
								&:before
									content: "Hard cap"
							&:nth-child(3)
								&:before
									content: "Soft cap"
							&:nth-child(4)
								&:before
									content: "Token for sale"
							&:nth-child(5)
								&:before
									content: "Total token supply"
							&:nth-child(6)
								&:before
									content: "Currencies accepted"
							&:nth-child(7)
								&:before
									content: "Min individual cap"
									
			.wallet-banner
				position: relative
				top: 165px
				padding: 8px 10px 8px 10px
				width: 90%
				.wb-first
					font-size: 12px
					a
						font-size: 16px
				.wb-second
					font-size: 16px
					line-height: 18px
			.wallet__right-part
				margin-top: 17px
				width: 100%
				.wallet__button
					display: inline-block
					top: 130px !important
					left: -8px !important
					width: 134px
					&.two
						left: 0px !important
					svg
						display: none
					span.mobile
						padding-top: 12px
						display: block
						width: 134px
						height: 39px
						border-radius: 24.5px
						text-align: center
						font-family: $sans
						font-size: 12px
						font-weight: 700
					&.one
						span.mobile
							color: white
							background-color: #c72897
					&.two
						span.mobile
							background-color: white
							color: #c72897
				.wallet__right-part--title
					text-align: center
					font-size: 16px
				ul
					margin-top: 35px
					padding-left: 40px
					padding-right: 40px
					li
						max-width: 330px
						margin-bottom: 18px
						height: auto
						padding-left: 17px
						padding-right: 0
						font-size: 14px
		.wallet__list
			width: 268px
			margin: 0 auto 25px
			float: unset !important
			.wallet__list--item
				font-size: 12px
				&:before
					width: 125px
		.wallet__link
			left: 0
		.ito-structure
			margin-top: 0
			top: 160px
			.is-title
				margin-bottom: 40px
				text-align: center
				padding-left: 0
			.stage
				width: 310px
				.stage-counter
					.sc-counter
						left: -4px
					.sc-legend
						right: 0
				.stage-legend
					top: -10px
					.sl-title
						font-size: 16px
						display: none
					.sl-list
						.sl-list-item
							font-size: 12px
							&:before
								width: 80px
@media (max-width: 600px)
	#wallet
		.wallet__content--wrapper
			.wallet__left-part
				.wallet__left-part--title
					.icobazar-link
						&:nth-child(1)
							left: 25px
						&:nth-child(3)
							right: 25px
@media (max-width: 350px)
	#wallet
		.wallet__content--wrapper
			.wallet__left-part
				padding: 0 20px
				.wallet__left-part--title
					text-align: center
					margin-bottom: 35px	
					.icobazar-link
						&:before
							opacity: 1
							top: unset
							font-size: 12px
							width: 60px
							text-align: center
							font-weight: 400
							z-index: 3
						&:nth-child(1)
							left: 35px
							top: 550px
							&:before
								bottom: -32px
								left: -10px
						&:nth-child(2)
							top: 550px
							left: 50%
							margin-left: -20px
							&:before
								bottom: -32px
								left: -14px
						&:nth-child(3)
							top: 550px
							left: unset
							right: 35px
							&:before
								bottom: -32px
								left: -8px
			.wallet__right-part
				ul
					padding: 0 20px
					li
						font-size: 10px
			.ito-structure
				.stage
					width: 300px
