.content-header__list {
  margin: 0px;
  padding: 0;
  list-style: none; }
  @media (max-width: 768px) {
    .content-header__list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.ttf") format("truetype"), url("../fonts/Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

.content-header__item {
  position: relative;
  display: inline-block;
  padding: 30px 25px 25px 25px;
  font-family: "Gilroy-Light";
  font-weight: 600;
  font-size: 16px;
  color: #160027;
  cursor: pointer;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out; }
  .content-header__item:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ff2394;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out; }
  .content-header__item:hover {
    color: #320256; }
  .content-header__item:last-child {
    margin-right: 0; }
  .content-header__item_active {
    color: #320256; }
    .content-header__item_active:after {
      width: 100%; }
  @media (max-width: 1200px) {
    .content-header__item {
      font-size: 14px;
      padding: 30px 15px 25px 15px; } }
  @media (max-width: 991px) {
    .content-header__item {
      font-size: 14px;
      padding: 30px 8px 25px 8px; } }
  @media (max-width: 768px) {
    .content-header__item {
      padding: 0;
      width: 95px;
      height: 31px;
      line-height: 31px;
      border: 1px solid #320256;
      text-align: center; }
      .content-header__item_active {
        background-color: #320256;
        color: white; }
      .content-header__item:after {
        display: none; } }

.content-header {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: -webkit-calc(100% - 613px);
  width: calc(100% - 613px);
  margin: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.24);
  background-color: white; }
  @media (max-width: 1200px) {
    .content-header {
      width: -webkit-calc(100% - 473px);
      width: calc(100% - 473px); } }
  @media (max-width: 991px) {
    .content-header {
      width: -webkit-calc(100% - 389px);
      width: calc(100% - 389px); } }
  @media (max-width: 768px) {
    .content-header {
      display: none; } }
