@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.ttf") format("truetype"), url("../fonts/Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

#main-header {
  position: fixed;
  top: 20px;
  left: 20px;
  height: -webkit-calc(100vh - 20px);
  height: calc(100vh - 20px);
  width: -webkit-calc(100% - 40px) !important;
  width: calc(100% - 40px) !important;
  background-image: url("/app/assets/img/website-parts/header/header-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  z-index: 1; }
  @media (max-width: 2300px) {
    #main-header {
      background-position: center 0px; } }
  @media (max-width: 768px) {
    #main-header {
      min-height: 480px; } }
  #main-header .header__content--wrapper {
    position: absolute;
    height: 356px;
    width: 100vw;
    top: 50%;
    margin-top: -152.5px; }
  #main-header .header__left-part {
    position: absolute;
    left: 9.9vw;
    margin: 0 auto;
    text-align: left; }
    @media (max-width: 768px) {
      #main-header .header__left-part {
        position: relative;
        left: 0; } }
    #main-header .header__left-part .header__title {
      position: relative;
      top: 0;
      font-family: "Gilroy-Light";
      font-weight: 300;
      color: white;
      font-size: 32px; }
      #main-header .header__left-part .header__title span {
        display: none; }
      #main-header .header__left-part .header__title h1 {
        display: none; }
    #main-header .header__left-part .header__title--img {
      width: 295px;
      height: 65px;
      display: inline-block;
      position: relative;
      top: -7px;
      margin-right: 17px; }
    #main-header .header__left-part .header__separator {
      margin: 40px 0 35px 0;
      width: 70px;
      height: 3px;
      top: 0;
      background-image: -webkit-linear-gradient(183deg, #e040a9, #ff3e92);
      background-image: -o-linear-gradient(183deg, #e040a9, #ff3e92);
      background-image: linear-gradient(267deg, #e040a9, #ff3e92);
      position: relative;
      left: 5px; }
      @media (max-width: 768px) {
        #main-header .header__left-part .header__separator {
          margin: 25px auto;
          left: 0; } }
    #main-header .header__left-part .header__desc {
      width: 100%;
      position: relative;
      left: 0;
      top: 15px;
      font-family: "Gilroy-Light";
      font-weight: 300;
      font-size: 24px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.12;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff; }
    #main-header .header__left-part .header__link {
      position: absolute;
      top: 261px;
      left: -45px;
      background-color: transparent;
      -webkit-appearence: none;
      border: none;
      outline: none;
      z-index: 1000000; }
    #main-header .header__left-part #sib_embed_signup2 {
      position: absolute;
      left: -10px;
      bottom: -121px;
      width: 330px;
      opacity: 1;
      -ms-input-placeholder-font-family: "Open Sans", sans-serif;
      -ms-input-placeholder-font-weight: 400;
      -ms-input-placeholder-font-size: 14px;
      -ms-input-placeholder-color: rgba(255, 255, 255, 0.72); }
      @media (max-width: 768px) {
        #main-header .header__left-part #sib_embed_signup2 {
          display: none; } }
      #main-header .header__left-part #sib_embed_signup2 .subscribe-label {
        position: relative;
        left: 12px;
        text-align: left;
        color: white;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 14px; }
      #main-header .header__left-part #sib_embed_signup2 .message_area {
        position: absolute !important;
        bottom: -40px;
        background-color: transparent !important;
        border: none !important;
        font-family: "Open Sans", sans-serif !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        width: 100% !important;
        text-align: center !important; }
        #main-header .header__left-part #sib_embed_signup2 .message_area .close {
          display: none !important; }
      #main-header .header__left-part #sib_embed_signup2 .mandatory-email {
        position: relative;
        left: 20px;
        width: 100%; }
      #main-header .header__left-part #sib_embed_signup2 #email2 {
        position: relative;
        left: 0;
        top: 0;
        padding-left: 31px;
        display: block;
        margin: 0 auto;
        width: 290px;
        height: 46px;
        -webkit-border-radius: 33px;
                border-radius: 33px;
        border: solid 1px #c72897;
        outline: none;
        -webkit-appearence: none;
        font-size: 14px;
        color: white;
        font-family: "Open Sans", sans-serif;
        background-color: transparent; }
      #main-header .header__left-part #sib_embed_signup2 ::-webkit-input-placeholder {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.72);
        opacity: 1; }
      #main-header .header__left-part #sib_embed_signup2 ::-moz-placeholder {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.72);
        opacity: 1; }
      #main-header .header__left-part #sib_embed_signup2 :-ms-input-placeholder {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.72);
        opacity: 1; }
      #main-header .header__left-part #sib_embed_signup2 ::-ms-input-placeholder {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.72);
        opacity: 1; }
      #main-header .header__left-part #sib_embed_signup2 ::placeholder {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.72);
        opacity: 1; }
      #main-header .header__left-part #sib_embed_signup2 ::-ms-input-placeholder {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.72); }
      #main-header .header__left-part #sib_embed_signup2 .button {
        position: absolute;
        top: 0;
        right: -30px;
        height: 46px;
        width: 123px;
        -webkit-border-radius: 33px;
                border-radius: 33px;
        border: none;
        outline: none;
        -webkit-appearence: none;
        background-color: #c72897;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: white; }
  #main-header .header__right-part {
    opacity: 1;
    -webkit-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
    -webkit-transition-delay: 1s;
         -o-transition-delay: 1s;
            transition-delay: 1s;
    position: absolute;
    right: 14vw;
    width: 300px;
    height: 100%;
    margin-top: 13px; }
    #main-header .header__right-part.ito-going .sub-mob-alert {
      position: relative;
      bottom: 20px;
      width: 100%;
      font-family: "Gilroy-Light";
      font-weight: 600;
      font-size: 12px;
      text-align: center;
      color: white;
      display: none; }
      @media (max-width: 768px) {
        #main-header .header__right-part.ito-going .sub-mob-alert {
          display: block; } }
    #main-header .header__right-part.ito-going #sib_embed_signup2 {
      position: relative;
      top: 181px;
      width: 290px;
      display: none; }
      @media (max-width: 768px) {
        #main-header .header__right-part.ito-going #sib_embed_signup2 {
          display: inline-block; } }
      #main-header .header__right-part.ito-going #sib_embed_signup2 .message_area {
        position: absolute !important;
        bottom: -25px;
        background-color: transparent !important;
        border: none !important;
        font-family: "Open Sans", sans-serif !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        width: 100% !important;
        text-align: center !important; }
        #main-header .header__right-part.ito-going #sib_embed_signup2 .message_area .close {
          display: none !important; }
      #main-header .header__right-part.ito-going #sib_embed_signup2 .mandatory-email {
        position: relative;
        margin: 0 auto;
        left: 0;
        width: 100%; }
      #main-header .header__right-part.ito-going #sib_embed_signup2 #email2 {
        position: relative;
        left: 0;
        top: 0;
        padding-left: 31px;
        display: block;
        width: 100%;
        height: 46px;
        -webkit-border-radius: 33px;
                border-radius: 33px;
        border: solid 1px #ffffff;
        outline: none;
        -webkit-appearence: none;
        font-size: 14px;
        color: white;
        font-family: "Open Sans", sans-serif;
        background-color: transparent; }
      #main-header .header__right-part.ito-going #sib_embed_signup2 .button {
        position: absolute;
        top: 0;
        right: 0;
        height: 46px;
        width: 80px;
        -webkit-border-radius: 33px;
                border-radius: 33px;
        border: none;
        outline: none;
        -webkit-appearence: none;
        background-color: white;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: #c72897; }
    #main-header .header__right-part.ito-going .timer-title {
      font-family: "Gilroy-Light";
      font-size: 28px;
      margin-bottom: 30px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      text-transform: uppercase; }
      #main-header .header__right-part.ito-going .timer-title span {
        font-size: 16px;
        text-transform: capitalize; }
    #main-header .header__right-part.ito-going .header-timer_about {
      margin: 0 0 5px 3px;
      font-family: "Gilroy-Light";
      font-size: 14px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #eb3386; }
      #main-header .header__right-part.ito-going .header-timer_about span {
        color: white; }
    #main-header .header__right-part.ito-going .raised-wrapper {
      position: relative;
      top: 33px;
      left: 3px; }
      #main-header .header__right-part.ito-going .raised-wrapper .raised-mob-alert {
        width: 100%;
        position: absolute;
        top: 58px;
        font-family: "Gilroy-Light";
        font-weight: 600;
        font-size: 12px;
        text-align: center;
        color: white;
        display: none; }
        @media (max-width: 768px) {
          #main-header .header__right-part.ito-going .raised-wrapper .raised-mob-alert {
            display: block; } }
      #main-header .header__right-part.ito-going .raised-wrapper .text-discount {
        position: relative;
        top: 20px;
        left: 26px;
        font-family: "Gilroy-Light";
        font-size: 12px;
        color: #eb3386;
        opacity: 1; }
      #main-header .header__right-part.ito-going .raised-wrapper .max-value {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: white; }
        #main-header .header__right-part.ito-going .raised-wrapper .max-value b {
          color: rgba(255, 255, 255, 0.72);
          font-weight: 400;
          font-size: 12px;
          position: relative;
          left: 18px;
          top: 4px; }
      #main-header .header__right-part.ito-going .raised-wrapper .min-value {
        float: left; }
      #main-header .header__right-part.ito-going .raised-wrapper .start-value {
        position: absolute;
        top: -25px;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: white; }
        #main-header .header__right-part.ito-going .raised-wrapper .start-value b {
          color: rgba(255, 255, 255, 0.72);
          font-weight: 400;
          font-size: 12px;
          position: relative;
          left: 0;
          top: 4px; }
      #main-header .header__right-part.ito-going .raised-wrapper .max-value {
        float: right;
        position: relative;
        right: 5px;
        top: -25px; }
        #main-header .header__right-part.ito-going .raised-wrapper .max-value.sc {
          right: 19px; }
          #main-header .header__right-part.ito-going .raised-wrapper .max-value.sc b {
            left: 24px; }
      #main-header .header__right-part.ito-going .raised-wrapper .line-wrapper {
        position: relative;
        top: 25px; }
        #main-header .header__right-part.ito-going .raised-wrapper .line-wrapper .st-name {
          position: absolute;
          top: 10px;
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          font-size: 14px;
          color: white; }
        #main-header .header__right-part.ito-going .raised-wrapper .line-wrapper .st-price {
          position: absolute;
          top: 10px;
          font-size: 14px; }
          #main-header .header__right-part.ito-going .raised-wrapper .line-wrapper .st-price.first {
            left: 176px;
            color: #eb3386;
            font-weight: 400; }
          #main-header .header__right-part.ito-going .raised-wrapper .line-wrapper .st-price.second {
            opacity: 0.6;
            right: 5px;
            color: white; }
        #main-header .header__right-part.ito-going .raised-wrapper .line-wrapper .line {
          position: relative;
          width: 295px;
          height: 2px;
          background-color: white; }
          #main-header .header__right-part.ito-going .raised-wrapper .line-wrapper .line .pink-line {
            height: 2px;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #eb3386; }
        #main-header .header__right-part.ito-going .raised-wrapper .line-wrapper .pink-point {
          display: block;
          position: absolute;
          text-align: center;
          z-index: 1;
          left: 0px;
          top: -4px;
          width: 10px;
          height: 10px;
          background-color: #eb3386;
          border: 2px solid #200239;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          color: rgba(255, 255, 255, 0.35);
          font-family: "Gilroy-ExtraBold";
          font-size: 12px; }
        #main-header .header__right-part.ito-going .raised-wrapper .line-wrapper .white-point {
          display: block;
          position: absolute;
          text-align: center;
          z-index: 1;
          left: 65px;
          top: -4px;
          width: 10px;
          height: 10px;
          background-color: #82005a;
          border: 2px solid #200239;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          color: rgba(255, 255, 255, 0.35);
          font-family: "Gilroy-ExtraBold";
          font-size: 12px; }
        #main-header .header__right-part.ito-going .raised-wrapper .line-wrapper .sc-point {
          display: block;
          position: absolute;
          text-align: center;
          z-index: 1;
          left: 203px;
          top: -4px;
          width: 10px;
          height: 10px;
          background-color: white;
          border: 2px solid #200239;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          color: rgba(255, 255, 255, 0.35);
          font-family: "Gilroy-ExtraBold";
          font-size: 12px; }
        #main-header .header__right-part.ito-going .raised-wrapper .line-wrapper .hc-point {
          display: block;
          position: absolute;
          text-align: center;
          z-index: 1;
          right: 3px;
          top: -4px;
          width: 10px;
          height: 10px;
          background-color: white;
          border: 2px solid #200239;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          color: rgba(255, 255, 255, 0.35);
          font-family: "Gilroy-ExtraBold";
          font-size: 12px; }
      #main-header .header__right-part.ito-going .raised-wrapper .raised-legend-wrapper {
        position: relative;
        top: 70px;
        text-align: left; }
        #main-header .header__right-part.ito-going .raised-wrapper .raised-legend-wrapper .raised-legend {
          position: absolute;
          top: 0;
          display: inline-block;
          font-family: "Open Sans", sans-serif;
          font-weight: 300;
          font-size: 14px;
          color: white; }
          #main-header .header__right-part.ito-going .raised-wrapper .raised-legend-wrapper .raised-legend:nth-child(1) {
            left: 0;
            width: 120px; }
          #main-header .header__right-part.ito-going .raised-wrapper .raised-legend-wrapper .raised-legend:nth-child(2) {
            left: 173px;
            width: 120px; }
          #main-header .header__right-part.ito-going .raised-wrapper .raised-legend-wrapper .raised-legend span {
            opacity: 0.8; }
    #main-header .header__right-part.ito-wait .header-timer_dhms {
      height: 75px;
      margin-bottom: 23px;
      position: relative; }
    #main-header .header__right-part.ito-wait .header-timer_dhms .number {
      position: relative;
      display: block;
      margin-bottom: 5px;
      font-family: "Gilroy-Light";
      font-size: 48px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff; }
    #main-header .header__right-part.ito-wait .header-timer_dhms .number-type {
      position: relative;
      display: block;
      font-family: "Gilroy-Light";
      font-size: 14px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1.8px;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase; }
    #main-header .header__right-part.ito-wait .dhms_item {
      width: 25%;
      position: absolute;
      text-align: left; }
    #main-header .header__right-part.ito-wait .dhms_item.days .number-type {
      left: -10px; }
    #main-header .header__right-part.ito-wait .dhms_item.hours {
      left: 23%; }
      #main-header .header__right-part.ito-wait .dhms_item.hours .number {
        left: 10px; }
      #main-header .header__right-part.ito-wait .dhms_item.hours .number-type {
        left: 0px; }
    #main-header .header__right-part.ito-wait .dhms_item.minutes {
      text-align: center;
      left: 48%; }
    #main-header .header__right-part.ito-wait .dhms_item.seconds {
      text-align: center;
      left: 75%; }
    #main-header .header__right-part.ito-wait .sub-mob-alert {
      position: relative;
      bottom: 20px;
      width: 100%;
      font-family: "Gilroy-Light";
      font-weight: 600;
      font-size: 12px;
      text-align: center;
      color: white;
      display: none; }
      @media (max-width: 768px) {
        #main-header .header__right-part.ito-wait .sub-mob-alert {
          display: block; } }
    #main-header .header__right-part.ito-wait #sib_embed_signup2 {
      position: relative;
      top: 181px;
      width: 290px;
      display: none; }
      @media (max-width: 768px) {
        #main-header .header__right-part.ito-wait #sib_embed_signup2 {
          display: inline-block; } }
      #main-header .header__right-part.ito-wait #sib_embed_signup2 .message_area {
        position: absolute !important;
        bottom: -25px;
        background-color: transparent !important;
        border: none !important;
        font-family: "Open Sans", sans-serif !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        width: 100% !important;
        text-align: center !important; }
        #main-header .header__right-part.ito-wait #sib_embed_signup2 .message_area .close {
          display: none !important; }
      #main-header .header__right-part.ito-wait #sib_embed_signup2 .mandatory-email {
        position: relative;
        margin: 0 auto;
        left: 0;
        width: 100%; }
      #main-header .header__right-part.ito-wait #sib_embed_signup2 #email2 {
        position: relative;
        left: 0;
        top: 0;
        padding-left: 31px;
        display: block;
        width: 100%;
        height: 46px;
        -webkit-border-radius: 33px;
                border-radius: 33px;
        border: solid 1px #ffffff;
        outline: none;
        -webkit-appearence: none;
        font-size: 14px;
        color: white;
        font-family: "Open Sans", sans-serif;
        background-color: transparent; }
      #main-header .header__right-part.ito-wait #sib_embed_signup2 .button {
        position: absolute;
        top: 0;
        right: 0;
        height: 46px;
        width: 80px;
        -webkit-border-radius: 33px;
                border-radius: 33px;
        border: none;
        outline: none;
        -webkit-appearence: none;
        background-color: white;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: #c72897; }
    #main-header .header__right-part.ito-wait .timer-title {
      font-family: "Gilroy-Light";
      font-size: 28px;
      margin-bottom: 30px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      text-transform: uppercase; }
      #main-header .header__right-part.ito-wait .timer-title span {
        font-size: 16px;
        text-transform: capitalize; }
    #main-header .header__right-part.ito-wait .header-timer_about {
      margin: 0 0 5px 3px;
      font-family: "Gilroy-Light";
      font-size: 14px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #eb3386; }
      #main-header .header__right-part.ito-wait .header-timer_about span {
        color: white; }
    #main-header .header__right-part.ito-wait .raised-wrapper {
      position: relative;
      top: -2px;
      left: 3px; }
      #main-header .header__right-part.ito-wait .raised-wrapper .raised-mob-alert {
        width: 100%;
        position: absolute;
        top: 58px;
        font-family: "Gilroy-Light";
        font-weight: 600;
        font-size: 12px;
        text-align: center;
        color: white;
        display: none; }
        @media (max-width: 768px) {
          #main-header .header__right-part.ito-wait .raised-wrapper .raised-mob-alert {
            display: block; } }
      #main-header .header__right-part.ito-wait .raised-wrapper .text-discount {
        position: relative;
        top: 20px;
        left: 26px;
        font-family: "Gilroy-Light";
        font-size: 12px;
        color: #eb3386;
        opacity: 1; }
      #main-header .header__right-part.ito-wait .raised-wrapper .max-value {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: white; }
        #main-header .header__right-part.ito-wait .raised-wrapper .max-value b {
          color: rgba(255, 255, 255, 0.72);
          font-weight: 400;
          font-size: 12px;
          position: relative;
          left: 18px;
          top: 4px; }
      #main-header .header__right-part.ito-wait .raised-wrapper .min-value {
        float: left; }
      #main-header .header__right-part.ito-wait .raised-wrapper .start-value {
        position: absolute;
        top: -25px;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: white; }
        #main-header .header__right-part.ito-wait .raised-wrapper .start-value b {
          color: rgba(255, 255, 255, 0.72);
          font-weight: 400;
          font-size: 12px;
          position: relative;
          left: 0;
          top: 4px; }
      #main-header .header__right-part.ito-wait .raised-wrapper .max-value {
        position: relative;
        left: 5px;
        top: 15px; }
        #main-header .header__right-part.ito-wait .raised-wrapper .max-value.sc {
          right: 19px; }
          #main-header .header__right-part.ito-wait .raised-wrapper .max-value.sc b {
            left: 24px; }
      #main-header .header__right-part.ito-wait .raised-wrapper .line-wrapper {
        position: relative;
        top: 25px; }
        #main-header .header__right-part.ito-wait .raised-wrapper .line-wrapper .st-name {
          position: absolute;
          top: 10px;
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          font-size: 14px;
          color: white; }
        #main-header .header__right-part.ito-wait .raised-wrapper .line-wrapper .st-price {
          position: absolute;
          top: 10px;
          font-size: 14px; }
          #main-header .header__right-part.ito-wait .raised-wrapper .line-wrapper .st-price.first {
            left: 176px;
            color: #eb3386;
            font-weight: 400; }
          #main-header .header__right-part.ito-wait .raised-wrapper .line-wrapper .st-price.second {
            opacity: 0.6;
            right: 5px;
            color: white; }
        #main-header .header__right-part.ito-wait .raised-wrapper .line-wrapper .line {
          position: relative;
          width: 295px;
          height: 2px;
          background-color: white; }
          #main-header .header__right-part.ito-wait .raised-wrapper .line-wrapper .line .pink-line {
            height: 2px;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #eb3386; }
        #main-header .header__right-part.ito-wait .raised-wrapper .line-wrapper .pink-point {
          display: block;
          position: absolute;
          text-align: center;
          z-index: 1;
          left: 0px;
          top: -4px;
          width: 10px;
          height: 10px;
          background-color: #eb3386;
          border: 2px solid #200239;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          color: rgba(255, 255, 255, 0.35);
          font-family: "Gilroy-ExtraBold";
          font-size: 12px; }
        #main-header .header__right-part.ito-wait .raised-wrapper .line-wrapper .white-point {
          display: block;
          position: absolute;
          text-align: center;
          z-index: 1;
          left: 65px;
          top: -4px;
          width: 10px;
          height: 10px;
          background-color: #82005a;
          border: 2px solid #200239;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          color: rgba(255, 255, 255, 0.35);
          font-family: "Gilroy-ExtraBold";
          font-size: 12px; }
        #main-header .header__right-part.ito-wait .raised-wrapper .line-wrapper .sc-point {
          display: block;
          position: absolute;
          text-align: center;
          z-index: 1;
          left: 203px;
          top: -4px;
          width: 10px;
          height: 10px;
          background-color: white;
          border: 2px solid #200239;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          color: rgba(255, 255, 255, 0.35);
          font-family: "Gilroy-ExtraBold";
          font-size: 12px; }
        #main-header .header__right-part.ito-wait .raised-wrapper .line-wrapper .hc-point {
          display: block;
          position: absolute;
          text-align: center;
          z-index: 1;
          right: 3px;
          top: -4px;
          width: 10px;
          height: 10px;
          background-color: white;
          border: 2px solid #200239;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          color: rgba(255, 255, 255, 0.35);
          font-family: "Gilroy-ExtraBold";
          font-size: 12px; }
      #main-header .header__right-part.ito-wait .raised-wrapper .raised-legend-wrapper {
        position: relative;
        top: 35px;
        text-align: left; }
        #main-header .header__right-part.ito-wait .raised-wrapper .raised-legend-wrapper .raised-legend {
          position: absolute;
          top: 0;
          display: inline-block;
          font-family: "Open Sans", sans-serif;
          font-weight: 300;
          font-size: 14px;
          color: white; }
          #main-header .header__right-part.ito-wait .raised-wrapper .raised-legend-wrapper .raised-legend:nth-child(1) {
            left: 0;
            width: 120px; }
          #main-header .header__right-part.ito-wait .raised-wrapper .raised-legend-wrapper .raised-legend:nth-child(2) {
            left: 173px;
            width: 120px; }
          #main-header .header__right-part.ito-wait .raised-wrapper .raised-legend-wrapper .raised-legend span {
            opacity: 0.8; }
  #main-header .header-timer_btn {
    position: absolute;
    bottom: -27px;
    left: -36.7px; }
    #main-header .header-timer_btn .mobile {
      display: none; }
  #main-header .mob-sub {
    display: none; }
  #main-header .header__bubble {
    width: 132px;
    height: 66px;
    display: block;
    position: absolute;
    left: 25vw;
    top: -20px;
    z-index: 21122121122121; }

#header__social-links {
  position: fixed;
  bottom: 50px;
  left: 65px;
  z-index: 200000; }
  @media (min-width: 1900px) {
    #header__social-links {
      bottom: 180px;
      left: 70px; } }
  #header__social-links .header__social-links--list {
    padding-left: 0;
    list-style: none; }
  #header__social-links .header__social-links--item {
    margin-top: 24px;
    position: relative;
    width: 50px;
    height: 50px; }
    #header__social-links .header__social-links--item:hover .header__social-links--img.one {
      opacity: 1; }
    #header__social-links .header__social-links--item:hover .header__social-links--img.two {
      opacity: 0; }
    #header__social-links .header__social-links--item:first-child {
      margin-top: 0; }
    #header__social-links .header__social-links--item .header__social-links--img {
      position: absolute;
      left: 0;
      top: 0;
      -webkit-transition: all 0.8s ease;
      -o-transition: all 0.8s ease;
      transition: all 0.8s ease;
      width: 100%;
      height: 100%; }
      #header__social-links .header__social-links--item .header__social-links--img.one {
        opacity: 0; }

@media (max-width: 768px) {
  body #preloader {
    display: none !important;
    z-index: 0 !important; }
  .header__separator {
    display: none; }
  #main-header {
    position: relative !important;
    z-index: 200001;
    top: 0;
    left: 0;
    width: 100% !important;
    padding: 0;
    height: 700px;
    background-image: url("/app/assets/img/website-parts/header/header-bg-m.png");
    background-position: 0 -50px; }
    #main-header .header__content--wrapper {
      position: relative;
      top: 119px;
      margin-top: 0;
      width: 100%;
      height: 378px; }
    #main-header .header__left-part {
      position: relative;
      top: 0;
      height: 30px;
      text-align: center;
      left: 0; }
      #main-header .header__left-part .header__title--img {
        width: 295px;
        height: 59px;
        margin-right: 0;
        top: -2px; }
      #main-header .header__left-part .header__title {
        font-size: 24px; }
        #main-header .header__left-part .header__title img {
          display: none; }
        #main-header .header__left-part .header__title h1 {
          display: block;
          position: relative;
          font-size: 24px;
          font-family: "Gilroy-Light"; }
          #main-header .header__left-part .header__title h1:after {
            content: '';
            position: absolute;
            bottom: -33px;
            left: 50%;
            margin-left: -20px;
            display: block;
            width: 40px;
            height: 2px;
            background-color: #c72897; }
        #main-header .header__left-part .header__title span {
          margin-right: 7px;
          display: inline-block;
          font-weight: 600; }
      #main-header .header__left-part .header__desc {
        display: none;
        top: 20px;
        font-size: 20px;
        left: 0;
        text-align: center; }
        #main-header .header__left-part .header__desc.ru {
          font-size: 16px;
          width: 90%;
          margin: 0 auto; }
      #main-header .header__left-part .header__link {
        display: none; }
    #main-header .header__right-part {
      position: relative;
      top: 45px;
      right: 0;
      width: 100%;
      text-align: center;
      height: 250px; }
      #main-header .header__right-part.ito-going .header-timer {
        width: 310px;
        margin: 0 auto; }
      #main-header .header__right-part.ito-going .timer-title {
        text-align: center;
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        margin-bottom: 9px; }
      #main-header .header__right-part.ito-going .dhms_item {
        text-align: center;
        width: 23%; }
        #main-header .header__right-part.ito-going .dhms_item.hours {
          left: 25%; }
        #main-header .header__right-part.ito-going .dhms_item.minutes {
          left: 50%; }
      #main-header .header__right-part.ito-going .raised-wrapper {
        top: 36px;
        left: 0; }
        #main-header .header__right-part.ito-going .raised-wrapper .start-value {
          left: 17px;
          top: -13px;
          text-align: left;
          font-size: 12px;
          color: rgba(255, 255, 255, 0.72); }
          #main-header .header__right-part.ito-going .raised-wrapper .start-value b {
            color: white; }
        #main-header .header__right-part.ito-going .raised-wrapper .max-value {
          top: -13px;
          right: 16px;
          font-size: 12px;
          color: rgba(255, 255, 255, 0.72); }
          #main-header .header__right-part.ito-going .raised-wrapper .max-value span {
            position: relative;
            top: 45px; }
          #main-header .header__right-part.ito-going .raised-wrapper .max-value b {
            left: 3px;
            color: white; }
          #main-header .header__right-part.ito-going .raised-wrapper .max-value.sc {
            right: 33px;
            text-align: right; }
            #main-header .header__right-part.ito-going .raised-wrapper .max-value.sc b {
              left: 0px; }
        #main-header .header__right-part.ito-going .raised-wrapper .text-discount {
          left: -8px;
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          font-size: 12px;
          color: white; }
        #main-header .header__right-part.ito-going .raised-wrapper .line-wrapper {
          width: 281px;
          margin: 0 auto; }
          #main-header .header__right-part.ito-going .raised-wrapper .line-wrapper .st-name {
            left: 3px;
            font-size: 12px; }
          #main-header .header__right-part.ito-going .raised-wrapper .line-wrapper .st-price {
            font-size: 12px; }
            #main-header .header__right-part.ito-going .raised-wrapper .line-wrapper .st-price.first {
              left: 173px; }
            #main-header .header__right-part.ito-going .raised-wrapper .line-wrapper .st-price.second {
              right: 0px; }
          #main-header .header__right-part.ito-going .raised-wrapper .line-wrapper .line {
            width: 281px;
            margin: 0 auto;
            background-color: rgba(255, 255, 255, 0.17); }
          #main-header .header__right-part.ito-going .raised-wrapper .line-wrapper .white-point {
            left: 34px;
            background-color: white; }
          #main-header .header__right-part.ito-going .raised-wrapper .line-wrapper .pink-point {
            left: 0px; }
          #main-header .header__right-part.ito-going .raised-wrapper .line-wrapper .hc-point {
            right: 0; }
          #main-header .header__right-part.ito-going .raised-wrapper .line-wrapper .sc-point {
            left: 192px; }
        #main-header .header__right-part.ito-going .raised-wrapper .raised-legend-wrapper {
          top: 64px; }
          #main-header .header__right-part.ito-going .raised-wrapper .raised-legend-wrapper .raised-legend {
            font-weight: 600;
            font-size: 12px; }
            #main-header .header__right-part.ito-going .raised-wrapper .raised-legend-wrapper .raised-legend span {
              font-weight: 300; }
            #main-header .header__right-part.ito-going .raised-wrapper .raised-legend-wrapper .raised-legend:nth-child(1) {
              left: 17px; }
            #main-header .header__right-part.ito-going .raised-wrapper .raised-legend-wrapper .raised-legend:nth-child(2) {
              left: 170px; }
      #main-header .header__right-part.ito-going .header-timer_dhms {
        height: 65px;
        margin-bottom: 30px;
        left: 5px; }
        #main-header .header__right-part.ito-going .header-timer_dhms .number {
          font-size: 46px;
          text-align: center;
          left: 0 !important; }
        #main-header .header__right-part.ito-going .header-timer_dhms .number-type {
          text-align: center;
          left: 0 !important; }
      #main-header .header__right-part.ito-going .header-timer_about {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 12px;
        margin-bottom: 0;
        text-align: center; }
        #main-header .header__right-part.ito-going .header-timer_about.half-opacity {
          display: none; }
      #main-header .header__right-part.ito-going .header-timer_btn {
        position: relative;
        top: 176px;
        left: 12px;
        width: 134px;
        margin: unset;
        display: block; }
        #main-header .header__right-part.ito-going .header-timer_btn svg {
          display: none; }
        #main-header .header__right-part.ito-going .header-timer_btn .mobile {
          padding-top: 12px;
          display: block;
          width: 134px;
          height: 39px;
          -webkit-border-radius: 24.5px;
                  border-radius: 24.5px;
          text-align: center;
          font-family: "Open Sans", sans-serif;
          font-size: 12px;
          font-weight: 700;
          background-color: #c72897;
          color: white; }
      #main-header .header__right-part.ito-going .mob-sub {
        position: relative;
        top: 137px;
        left: 158px;
        padding-top: 12px;
        display: block;
        width: 134px;
        height: 39px;
        -webkit-border-radius: 24.5px;
                border-radius: 24.5px;
        background-color: white;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        font-weight: 700;
        color: #c72897; }
      #main-header .header__right-part.ito-wait .header-timer {
        width: 310px;
        margin: 0 auto; }
      #main-header .header__right-part.ito-wait .timer-title {
        text-align: center;
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        margin-bottom: 50px; }
      #main-header .header__right-part.ito-wait .dhms_item {
        text-align: center;
        width: 23%; }
        #main-header .header__right-part.ito-wait .dhms_item.hours {
          left: 25%; }
        #main-header .header__right-part.ito-wait .dhms_item.minutes {
          left: 50%; }
      #main-header .header__right-part.ito-wait #sib_embed_signup2 {
        top: 95px; }
      #main-header .header__right-part.ito-wait .raised-wrapper {
        top: -15px;
        left: 0; }
        #main-header .header__right-part.ito-wait .raised-wrapper .start-value {
          left: 17px;
          top: -13px;
          text-align: left;
          font-size: 12px;
          color: rgba(255, 255, 255, 0.72); }
          #main-header .header__right-part.ito-wait .raised-wrapper .start-value b {
            color: white; }
        #main-header .header__right-part.ito-wait .raised-wrapper .max-value {
          top: 13px;
          left: 0;
          font-size: 14px;
          color: rgba(255, 255, 255, 0.72); }
          #main-header .header__right-part.ito-wait .raised-wrapper .max-value b {
            left: 3px;
            color: white; }
          #main-header .header__right-part.ito-wait .raised-wrapper .max-value.sc {
            right: 33px;
            text-align: right; }
            #main-header .header__right-part.ito-wait .raised-wrapper .max-value.sc b {
              left: 0px; }
        #main-header .header__right-part.ito-wait .raised-wrapper .text-discount {
          left: -8px;
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          font-size: 12px;
          color: white; }
        #main-header .header__right-part.ito-wait .raised-wrapper .line-wrapper {
          width: 281px;
          margin: 0 auto; }
          #main-header .header__right-part.ito-wait .raised-wrapper .line-wrapper .st-name {
            left: 3px;
            font-size: 12px; }
          #main-header .header__right-part.ito-wait .raised-wrapper .line-wrapper .st-price {
            font-size: 12px; }
            #main-header .header__right-part.ito-wait .raised-wrapper .line-wrapper .st-price.first {
              left: 173px; }
            #main-header .header__right-part.ito-wait .raised-wrapper .line-wrapper .st-price.second {
              right: 0px; }
          #main-header .header__right-part.ito-wait .raised-wrapper .line-wrapper .line {
            width: 281px;
            margin: 0 auto;
            background-color: rgba(255, 255, 255, 0.17); }
          #main-header .header__right-part.ito-wait .raised-wrapper .line-wrapper .white-point {
            left: 34px;
            background-color: white; }
          #main-header .header__right-part.ito-wait .raised-wrapper .line-wrapper .pink-point {
            left: 0px; }
          #main-header .header__right-part.ito-wait .raised-wrapper .line-wrapper .hc-point {
            right: 0; }
          #main-header .header__right-part.ito-wait .raised-wrapper .line-wrapper .sc-point {
            left: 192px; }
        #main-header .header__right-part.ito-wait .raised-wrapper .raised-legend-wrapper {
          top: 34px; }
          #main-header .header__right-part.ito-wait .raised-wrapper .raised-legend-wrapper .raised-legend {
            font-weight: 600;
            font-size: 12px; }
            #main-header .header__right-part.ito-wait .raised-wrapper .raised-legend-wrapper .raised-legend span {
              font-weight: 300; }
            #main-header .header__right-part.ito-wait .raised-wrapper .raised-legend-wrapper .raised-legend:nth-child(1) {
              left: 17px; }
            #main-header .header__right-part.ito-wait .raised-wrapper .raised-legend-wrapper .raised-legend:nth-child(2) {
              left: 170px; }
      #main-header .header__right-part.ito-wait .header-timer_dhms {
        height: 65px;
        margin-bottom: 30px; }
        #main-header .header__right-part.ito-wait .header-timer_dhms .number {
          font-size: 46px;
          text-align: center;
          left: 0 !important; }
        #main-header .header__right-part.ito-wait .header-timer_dhms .number-type {
          text-align: center;
          left: 0 !important; }
      #main-header .header__right-part.ito-wait .header-timer_about {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 12px;
        margin-bottom: 0;
        text-align: center; }
        #main-header .header__right-part.ito-wait .header-timer_about.half-opacity {
          display: none; }
      #main-header .header__right-part.ito-wait .header-timer_btn {
        position: relative;
        top: 176px;
        left: 12px;
        width: 134px;
        margin: unset;
        display: block; }
        #main-header .header__right-part.ito-wait .header-timer_btn svg {
          display: none; }
        #main-header .header__right-part.ito-wait .header-timer_btn .mobile {
          padding-top: 12px;
          display: block;
          width: 134px;
          height: 39px;
          -webkit-border-radius: 24.5px;
                  border-radius: 24.5px;
          text-align: center;
          font-family: "Open Sans", sans-serif;
          font-size: 12px;
          font-weight: 700;
          background-color: #c72897;
          color: white; }
      #main-header .header__right-part.ito-wait .mob-sub {
        position: relative;
        top: 137px;
        left: 158px;
        padding-top: 12px;
        display: block;
        width: 134px;
        height: 39px;
        -webkit-border-radius: 24.5px;
                border-radius: 24.5px;
        background-color: white;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        font-weight: 700;
        color: #c72897; }
    #main-header .header__line-down {
      display: none; }
  #header__social-links {
    left: 10px;
    bottom: 10px; }
    #header__social-links .header__social-links--item {
      width: 35px;
      height: 35px; }
      #header__social-links .header__social-links--item .header__social-links--img {
        height: 35px;
        width: 35px; } }

@media (min-width: 768px) and (max-width: 991px) {
  #main-header .header__content--wrapper .header__left-part {
    left: 4vw; }
  #main-header .header__content--wrapper .header__right-part {
    right: 10vw; }
  #header__social-links {
    left: 10px; }
    #header__social-links .header__social-links--item {
      width: 35px;
      height: 35px; } }
