@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.ttf") format("truetype"), url("../fonts/Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

#income {
  padding: 20px;
  position: relative;
  top: 100vh;
  z-index: 10003;
  width: 100%;
  height: 100vh;
  min-height: 800px;
  background-color: #FBFBFB; }
  #income .income-wrapper {
    padding-top: 0px;
    top: 0;
    position: relative;
    height: 100%;
    -webkit-box-shadow: 0 1px 17px 0 rgba(0, 0, 0, 0.36);
            box-shadow: 0 1px 17px 0 rgba(0, 0, 0, 0.36);
    text-align: center;
    margin: 0 auto;
    background-color: white; }
    #income .income-wrapper .income-background-image {
      position: absolute; }
      @media (max-width: 768px) {
        #income .income-wrapper .income-background-image {
          display: none; } }
      #income .income-wrapper .income-background-image.one {
        top: 0;
        left: 10px;
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg); }
      #income .income-wrapper .income-background-image.two {
        top: 330px;
        left: 30px; }
      #income .income-wrapper .income-background-image.three {
        top: 100px;
        right: 250px; }
      #income .income-wrapper .income-background-image.four {
        right: 30px;
        top: 200px; }
    #income .income-wrapper .income__content-wrapper {
      position: absolute;
      width: 814px;
      height: 670px;
      left: 50%;
      top: 50%;
      margin-left: -407px;
      margin-top: -335px; }
    #income .income-wrapper .income__title {
      font-family: "Gilroy-Light";
      font-size: 48px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.02;
      letter-spacing: normal;
      text-align: center;
      color: #1f0738; }
    #income .income-wrapper .income-menu {
      width: 215px;
      margin: 0 auto; }
      #income .income-wrapper .income-menu.zh li {
        margin-right: 30px; }
      #income .income-wrapper .income-menu.en {
        width: 310px; }
        #income .income-wrapper .income-menu.en li {
          margin-right: 30px; }
      #income .income-wrapper .income-menu.ru {
        width: 450px; }
        #income .income-wrapper .income-menu.ru li {
          margin-right: 15px; }
      #income .income-wrapper .income-menu ul {
        list-style: none;
        padding-left: 0; }
        #income .income-wrapper .income-menu ul li {
          margin-right: 55px;
          display: inline-block;
          font-family: "Open Sans", sans-serif;
          font-weight: 600;
          color: #1a0a2b;
          opacity: 0.5;
          position: relative;
          cursor: pointer; }
          #income .income-wrapper .income-menu ul li.active {
            opacity: 1; }
            #income .income-wrapper .income-menu ul li.active:before {
              content: "";
              position: absolute;
              bottom: -6px;
              width: 100%;
              height: 2px;
              background-color: #ff2394;
              -webkit-transition: all 0.3s ease-out;
              -o-transition: all 0.3s ease-out;
              transition: all 0.3s ease-out; }
          #income .income-wrapper .income-menu ul li:last-child {
            margin-right: 0; }
    #income .income-wrapper .income__separator {
      width: 60px;
      height: 3px;
      background-color: #ff2394;
      margin: 45px auto 45px; }
    #income .income-wrapper .income-cards {
      position: relative;
      top: 65px;
      list-style-type: none;
      padding: 0;
      max-width: 814px;
      height: 412px; }
      #income .income-wrapper .income-cards.ru .income-card.first .income-text-wrapper {
        left: 40px;
        width: 390px; }
      #income .income-wrapper .income-cards.ru .income-card.first .income-image-wrapper .income-legend.second {
        right: -110px; }
      #income .income-wrapper .income-cards.ru .income-card.second .income-image-wrapper .income-legend.second {
        right: -110px; }
    #income .income-wrapper .income-card {
      width: 814px;
      height: 412px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      background: white;
      -webkit-border-radius: 0px;
              border-radius: 0px;
      padding: 0;
      -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.27);
              box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.27);
      -webkit-transform: translateY(-15px) rotate(0deg) translateX(17px) scale(0.95);
          -ms-transform: translateY(-15px) rotate(0deg) translateX(17px) scale(0.95);
              transform: translateY(-15px) rotate(0deg) translateX(17px) scale(0.95);
      -webkit-transform-origin: 0 0;
          -ms-transform-origin: 0 0;
              transform-origin: 0 0;
      -webkit-transition: background 0.4s linear, -webkit-transform 0.6s cubic-bezier(0.8, 0.2, 0.1, 0.8) 0.1s;
      transition: background 0.4s linear, -webkit-transform 0.6s cubic-bezier(0.8, 0.2, 0.1, 0.8) 0.1s;
      -o-transition: transform 0.6s cubic-bezier(0.8, 0.2, 0.1, 0.8) 0.1s, background 0.4s linear;
      transition: transform 0.6s cubic-bezier(0.8, 0.2, 0.1, 0.8) 0.1s, background 0.4s linear;
      transition: transform 0.6s cubic-bezier(0.8, 0.2, 0.1, 0.8) 0.1s, background 0.4s linear, -webkit-transform 0.6s cubic-bezier(0.8, 0.2, 0.1, 0.8) 0.1s;
      cursor: pointer;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
      #income .income-wrapper .income-card:last-child {
        margin-bottom: 0; }
      #income .income-wrapper .income-card .income-text-wrapper {
        padding-top: 80px;
        position: absolute;
        left: 58px;
        width: 324px; }
        #income .income-wrapper .income-card .income-text-wrapper .income-title {
          margin-bottom: 30px;
          text-align: left;
          font-family: "Open Sans", sans-serif;
          font-weight: 600;
          font-size: 20px;
          color: #1f0738; }
        #income .income-wrapper .income-card .income-text-wrapper .income-desc {
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          text-align: left;
          color: #554961; }
      #income .income-wrapper .income-card .income-image-wrapper {
        position: absolute;
        right: 128px;
        top: 69px;
        width: 206px;
        height: 343px; }
        #income .income-wrapper .income-card .income-image-wrapper .income-image {
          position: absolute; }
          #income .income-wrapper .income-card .income-image-wrapper .income-image.marketplace {
            top: 144px;
            left: 64px; }
          #income .income-wrapper .income-card .income-image-wrapper .income-image.talent {
            left: -19px;
            top: 14px; }
          #income .income-wrapper .income-card .income-image-wrapper .income-image.crowd {
            right: -18px;
            top: 13px; }
          #income .income-wrapper .income-card .income-image-wrapper .income-image.booker {
            top: -10px;
            left: 58px; }
          #income .income-wrapper .income-card .income-image-wrapper .income-image.talent-bran {
            bottom: 133px;
            right: -19px; }
          #income .income-wrapper .income-card .income-image-wrapper .income-image.brand {
            bottom: 133px;
            left: -19px; }
          #income .income-wrapper .income-card .income-image-wrapper .income-image.insurance {
            bottom: 133px;
            left: -19px; }
          #income .income-wrapper .income-card .income-image-wrapper .income-image.talent-insu {
            bottom: 133px;
            right: -19px; }
          #income .income-wrapper .income-card .income-image-wrapper .income-image.booker-insu {
            top: -10px;
            left: 58px; }
        #income .income-wrapper .income-card .income-image-wrapper .income-text, #income .income-wrapper .income-card .income-image-wrapper .income-legend {
          color: #22093a;
          font-size: 16px;
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          position: absolute; }
          #income .income-wrapper .income-card .income-image-wrapper .income-text.talent, #income .income-wrapper .income-card .income-image-wrapper .income-legend.talent {
            left: 59px;
            top: 73px; }
          #income .income-wrapper .income-card .income-image-wrapper .income-text.crowd, #income .income-wrapper .income-card .income-image-wrapper .income-legend.crowd {
            top: 0;
            right: -60px; }
          #income .income-wrapper .income-card .income-image-wrapper .income-text.marketplace, #income .income-wrapper .income-card .income-image-wrapper .income-legend.marketplace {
            top: 200px;
            right: -35px; }
          #income .income-wrapper .income-card .income-image-wrapper .income-text.booker, #income .income-wrapper .income-card .income-image-wrapper .income-legend.booker {
            top: -16px;
            right: 5px; }
          #income .income-wrapper .income-card .income-image-wrapper .income-text.talent-bran, #income .income-wrapper .income-card .income-image-wrapper .income-legend.talent-bran {
            bottom: 195px;
            right: -64px; }
          #income .income-wrapper .income-card .income-image-wrapper .income-text.brand, #income .income-wrapper .income-card .income-image-wrapper .income-legend.brand {
            bottom: 195px;
            left: 68px; }
          #income .income-wrapper .income-card .income-image-wrapper .income-text.insurance, #income .income-wrapper .income-card .income-image-wrapper .income-legend.insurance {
            bottom: 81px;
            left: -78px;
            text-align: left; }
          #income .income-wrapper .income-card .income-image-wrapper .income-text.talent-insu, #income .income-wrapper .income-card .income-image-wrapper .income-legend.talent-insu {
            bottom: 115px;
            right: -64px; }
          #income .income-wrapper .income-card .income-image-wrapper .income-text.booker-insu, #income .income-wrapper .income-card .income-image-wrapper .income-legend.booker-insu {
            top: -16px;
            right: 5px; }
        #income .income-wrapper .income-card .income-image-wrapper .income-arrow {
          -webkit-transition: all 0.3s ease-out;
          -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
          position: absolute; }
          #income .income-wrapper .income-card .income-image-wrapper .income-arrow.crowd-marketplace {
            bottom: 155px;
            right: 0; }
          #income .income-wrapper .income-card .income-image-wrapper .income-arrow.crowd-talent {
            right: 52px;
            top: 0; }
          #income .income-wrapper .income-card .income-image-wrapper .income-arrow.telent-crowd {
            top: 36px;
            left: 74px; }
          #income .income-wrapper .income-card .income-image-wrapper .income-arrow.talent-marketplace-talent {
            bottom: 155px;
            left: 0; }
          #income .income-wrapper .income-card .income-image-wrapper .income-arrow.talent-marketplace {
            bottom: 167px;
            left: 17px; }
          #income .income-wrapper .income-card .income-image-wrapper .income-arrow.income-marketplace-crowd {
            bottom: 167px;
            right: 7px; }
          #income .income-wrapper .income-card .income-image-wrapper .income-arrow.talent-brand {
            bottom: 116px;
            left: 50px; }
          #income .income-wrapper .income-card .income-image-wrapper .income-arrow.brand-talent {
            bottom: 130px;
            left: 57px; }
          #income .income-wrapper .income-card .income-image-wrapper .income-arrow.talent-brand1 {
            bottom: 145px;
            left: 63px; }
          #income .income-wrapper .income-card .income-image-wrapper .income-arrow.booker-talent {
            top: 38px;
            right: 0px; }
          #income .income-wrapper .income-card .income-image-wrapper .income-arrow.brand-booker {
            left: 0;
            top: 40px; }
          #income .income-wrapper .income-card .income-image-wrapper .income-arrow.talent-insurence {
            bottom: 120px;
            left: 50px; }
          #income .income-wrapper .income-card .income-image-wrapper .income-arrow.insurance-talent {
            bottom: 133px;
            left: 60px; }
          #income .income-wrapper .income-card .income-image-wrapper .income-arrow.booker-insurence {
            left: 10px;
            top: 50px; }
          #income .income-wrapper .income-card .income-image-wrapper .income-arrow.insurence-booker {
            left: 0;
            top: 40px; }
        #income .income-wrapper .income-card .income-image-wrapper .income-legend {
          -webkit-transition: all 0.3s ease-out;
          -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
          font-size: 14px; }
          #income .income-wrapper .income-card .income-image-wrapper .income-legend .income-legend-image {
            margin-right: 8px;
            -webkit-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out; }
          #income .income-wrapper .income-card .income-image-wrapper .income-legend.first {
            bottom: 57px;
            left: -30px; }
            #income .income-wrapper .income-card .income-image-wrapper .income-legend.first.ins {
              bottom: 22px; }
          #income .income-wrapper .income-card .income-image-wrapper .income-legend.second {
            bottom: 57px;
            right: -70px; }
            #income .income-wrapper .income-card .income-image-wrapper .income-legend.second.dark-blue {
              right: unset;
              left: -30px;
              bottom: 47px; }
          #income .income-wrapper .income-card .income-image-wrapper .income-legend.third {
            bottom: 32px;
            left: -30px; }
    #income .income-wrapper .card--next {
      z-index: 5;
      -webkit-transform: translateY(-15px) rotate(0deg) translateX(17px) scale(0.95);
          -ms-transform: translateY(-15px) rotate(0deg) translateX(17px) scale(0.95);
              transform: translateY(-15px) rotate(0deg) translateX(17px) scale(0.95); }
    #income .income-wrapper .card--out {
      -webkit-animation: card-out 0.6s cubic-bezier(0.8, 0.2, 0.1, 0.8);
              animation: card-out 0.6s cubic-bezier(0.8, 0.2, 0.1, 0.8);
      -webkit-transform: translateY(-30px) rotate(0deg) translateX(38px) scale(0.9);
          -ms-transform: translateY(-30px) rotate(0deg) translateX(38px) scale(0.9);
              transform: translateY(-30px) rotate(0deg) translateX(38px) scale(0.9);
      z-index: 1; }
    #income .income-wrapper .card--current {
      cursor: auto;
      -webkit-user-select: auto;
         -moz-user-select: auto;
          -ms-user-select: auto;
              user-select: auto;
      position: relative;
      z-index: 10;
      opacity: 1;
      -webkit-transform: translateX(0%) scale(1);
          -ms-transform: translateX(0%) scale(1);
              transform: translateX(0%) scale(1); }

@-webkit-keyframes card-out {
  0% {
    z-index: 20;
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg); }
  50% {
    -webkit-transform: translateY(-120%) rotate(0deg) translateX(-40px);
            transform: translateY(-120%) rotate(0deg) translateX(-40px); }
  80% {
    z-index: 1; }
  100% {
    -webkit-transform: translateY(-50px) rotate(0deg) translateX(55px) scale(0.95);
            transform: translateY(-50px) rotate(0deg) translateX(55px) scale(0.95); } }

@keyframes card-out {
  0% {
    z-index: 20;
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg); }
  50% {
    -webkit-transform: translateY(-120%) rotate(0deg) translateX(-40px);
            transform: translateY(-120%) rotate(0deg) translateX(-40px); }
  80% {
    z-index: 1; }
  100% {
    -webkit-transform: translateY(-50px) rotate(0deg) translateX(55px) scale(0.95);
            transform: translateY(-50px) rotate(0deg) translateX(55px) scale(0.95); } }

@media (max-width: 768px) {
  #income {
    top: 0;
    height: 1250px;
    padding: 0;
    z-index: 200001;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none; }
    #income .income-wrapper .income-menu.ru {
      width: 215px; }
      #income .income-wrapper .income-menu.ru li {
        margin-right: 0;
        margin-top: 12px; }
    #income .income-wrapper .card--out {
      -webkit-transform: translateY(-30px) rotate(0deg) translateX(30px) scale(0.9);
          -ms-transform: translateY(-30px) rotate(0deg) translateX(30px) scale(0.9);
              transform: translateY(-30px) rotate(0deg) translateX(30px) scale(0.9); }
    #income .income-wrapper .income__content-wrapper {
      padding-top: 140px;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      margin-left: 0;
      margin-top: 0; }
    #income .income-wrapper .income-cards {
      margin: 0 auto;
      max-width: 310px; }
      #income .income-wrapper .income-cards.ru .income-card .income-image-wrapper .income-legend.second {
        right: -50px !important;
        bottom: 33px; }
      #income .income-wrapper .income-cards.ru .income-card .income-text-wrapper {
        width: 90% !important;
        left: 0 !important; }
        #income .income-wrapper .income-cards.ru .income-card .income-text-wrapper .income-desc {
          font-size: 14px; }
      #income .income-wrapper .income-cards .income-card {
        width: 310px;
        height: 800px; }
        #income .income-wrapper .income-cards .income-card.third .income-text-wrapper .income-desc {
          font-size: 14px; }
        #income .income-wrapper .income-cards .income-card .income-image-wrapper {
          right: 70px; }
          #income .income-wrapper .income-cards .income-card .income-image-wrapper .income-text.insurance {
            bottom: 70px;
            left: -31px; }
        #income .income-wrapper .income-cards .income-card .income-text-wrapper {
          position: relative;
          margin: 0 auto;
          width: 90%;
          left: 0 !important;
          top: 340px; } }
