@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.ttf") format("truetype"), url("../fonts/Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

#wallet {
  padding: 20px;
  position: relative;
  z-index: 10003;
  width: 100%;
  height: 100vh;
  min-height: 1950px;
  top: 100vh;
  text-align: center; }
  #wallet .wallet__content--wrapper {
    position: relative;
    overflow: hidden;
    background-color: #150526;
    background-image: url("/app/assets/img/website-parts/wallet/wallet-bg.png");
    -webkit-background-size: cover;
            background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%; }
    #wallet .wallet__content--wrapper .wallet-bg-image {
      position: absolute; }
      @media (max-width: 768px) {
        #wallet .wallet__content--wrapper .wallet-bg-image {
          display: none; } }
      #wallet .wallet__content--wrapper .wallet-bg-image.one {
        bottom: 54px;
        left: 66px; }
      #wallet .wallet__content--wrapper .wallet-bg-image.two {
        top: 141px;
        left: 328px; }
    #wallet .wallet__content--wrapper .wallet-lines {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 110%;
      height: 100%; }
  #wallet .wallet__wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -450px;
    margin-top: -850px;
    z-index: 1;
    width: 900px;
    height: 1703px;
    background-color: transparent;
    -webkit-box-shadow: 0 2px 19px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 19px 0 rgba(0, 0, 0, 0.15); }
    #wallet .wallet__wrapper .wallet__left-part {
      vertical-align: top;
      display: inline-block;
      width: 430px;
      margin-right: 100px; }
    #wallet .wallet__wrapper .wallet__right-part {
      vertical-align: top;
      display: inline-block;
      width: 330px; }
    #wallet .wallet__wrapper .wallet__left-part .week-info {
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 16px;
      color: #c72897;
      text-align: left;
      margin-bottom: 0; }
      @media (max-width: 768px) {
        #wallet .wallet__wrapper .wallet__left-part .week-info {
          font-size: 14px;
          text-align: center;
          display: none; } }
      #wallet .wallet__wrapper .wallet__left-part .week-info.half-opacity {
        opacity: 0.5;
        margin-bottom: 24px; }
    #wallet .wallet__wrapper .wallet__left-part .wallet__left-part--title {
      position: relative;
      margin-bottom: 24px;
      color: white;
      font-family: "Gilroy-Light";
      font-weight: 600;
      font-size: 24px;
      text-align: left; }
      #wallet .wallet__wrapper .wallet__left-part .wallet__left-part--title .icobazar-link {
        display: block;
        position: absolute;
        top: -8px;
        width: 40px; }
        #wallet .wallet__wrapper .wallet__left-part .wallet__left-part--title .icobazar-link:nth-child(1) {
          left: 140px; }
          #wallet .wallet__wrapper .wallet__left-part .wallet__left-part--title .icobazar-link:nth-child(1):before {
            content: "ICObazaar 4.0";
            left: -25px; }
        #wallet .wallet__wrapper .wallet__left-part .wallet__left-part--title .icobazar-link:nth-child(2) {
          left: 200px; }
          #wallet .wallet__wrapper .wallet__left-part .wallet__left-part--title .icobazar-link:nth-child(2):before {
            content: "ICOHOLDER 4.03";
            left: -35px; }
        #wallet .wallet__wrapper .wallet__left-part .wallet__left-part--title .icobazar-link:nth-child(3) {
          left: 260px; }
          #wallet .wallet__wrapper .wallet__left-part .wallet__left-part--title .icobazar-link:nth-child(3):before {
            content: "ICObench 4.6";
            left: -20px; }
        #wallet .wallet__wrapper .wallet__left-part .wallet__left-part--title .icobazar-link:hover:before {
          opacity: 1; }
        #wallet .wallet__wrapper .wallet__left-part .wallet__left-part--title .icobazar-link:hover img {
          opacity: 1; }
        #wallet .wallet__wrapper .wallet__left-part .wallet__left-part--title .icobazar-link:before {
          position: absolute;
          top: -30px;
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          color: white;
          display: block;
          width: 160px;
          opacity: 0;
          -webkit-transition: all 0.3s ease-out;
          -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out; }
        #wallet .wallet__wrapper .wallet__left-part .wallet__left-part--title .icobazar-link img {
          width: 40px;
          opacity: 0.5;
          -webkit-transition: all 0.3s ease-out;
          -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out; }
    #wallet .wallet__wrapper .wallet__left-part .start-date {
      position: relative;
      display: inline-block;
      float: left;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.3px;
      text-align: left;
      color: white;
      width: 147px;
      height: 38px; }
    #wallet .wallet__wrapper .wallet__left-part .end-date {
      position: relative;
      display: inline-block;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.3px;
      text-align: left;
      color: white;
      width: 147px;
      height: 38px; }
    #wallet .wallet__wrapper .wallet__left-part .wallet__left-part-l {
      width: 49.5%;
      display: inline-block;
      vertical-align: top; }
      #wallet .wallet__wrapper .wallet__left-part .wallet__left-part-l ul {
        margin-top: 10px;
        list-style: none;
        padding-left: 0; }
        #wallet .wallet__wrapper .wallet__left-part .wallet__left-part-l ul li {
          text-align: left;
          font-size: 16px;
          line-height: 33px;
          opacity: 0.75;
          color: white; }
    #wallet .wallet__wrapper .wallet__left-part .wallet__left-part-r {
      width: 49%;
      display: inline-block;
      vertical-align: top; }
      #wallet .wallet__wrapper .wallet__left-part .wallet__left-part-r ul {
        margin-top: 10px;
        list-style: none;
        padding-left: 0; }
        #wallet .wallet__wrapper .wallet__left-part .wallet__left-part-r ul li {
          text-align: left;
          font-size: 16px;
          line-height: 33px;
          opacity: 0.75;
          color: white; }
    #wallet .wallet__wrapper .wallet__left-part .wallet__left-part-r {
      width: 49%;
      display: inline-block; }
    #wallet .wallet__wrapper .wallet__right-part .wallet__right-part--title {
      color: white;
      font-family: "Gilroy-Light";
      font-weight: 600;
      font-size: 24px;
      text-align: left; }
    #wallet .wallet__wrapper .wallet__right-part ul {
      margin-top: 41px;
      list-style: none;
      padding-left: 0; }
      #wallet .wallet__wrapper .wallet__right-part ul li {
        text-align: left;
        font-size: 16px;
        margin-bottom: 10px;
        opacity: 0.75;
        color: white; }
        #wallet .wallet__wrapper .wallet__right-part ul li:nth-child(1):before {
          content: "1.  "; }
        #wallet .wallet__wrapper .wallet__right-part ul li:nth-child(2):before {
          content: "2.  "; }
        #wallet .wallet__wrapper .wallet__right-part ul li:nth-child(3):before {
          content: "3.  "; }
    #wallet .wallet__wrapper .wallet__right-part .wallet__button {
      position: relative;
      display: inline-block;
      vertical-align: bottom;
      width: 49%;
      top: -10px; }
      #wallet .wallet__wrapper .wallet__right-part .wallet__button span.mobile {
        display: none; }
      #wallet .wallet__wrapper .wallet__right-part .wallet__button.one {
        left: -40px; }
  #wallet .ito-structure {
    width: 726px;
    margin: 30px auto 0; }
    #wallet .ito-structure__title {
      color: white;
      font-family: "Gilroy-Light";
      font-weight: 600;
      font-size: 24px; }
  #wallet .diagram {
    margin-top: 40px; }
  #wallet .diagram__caps {
    margin-bottom: 13px;
    text-align: left; }
  #wallet .diagram__caps-name {
    display: inline-block;
    margin-right: 36px;
    color: #dc019d;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px; }
  #wallet .timeline {
    width: 726px;
    height: 72px;
    margin: 0 auto;
    border: 1px solid white;
    text-align: left; }
    #wallet .timeline__stage {
      height: 100%;
      display: inline-block;
      text-align: center;
      vertical-align: top; }
      #wallet .timeline__stage:nth-child(1) {
        padding: 22px 0;
        width: 168px;
        border-right: 1px solid white;
        background-color: #ff028f; }
      #wallet .timeline__stage:nth-child(2) {
        position: relative;
        left: -4px;
        padding: 22px 0;
        width: 166px;
        border-right: 1px solid white;
        background: #ff028d;
        background: -webkit-gradient(left top, right top, color-stop(0%, #ff028d), color-stop(100%, #bc018a));
        background: -webkit-linear-gradient(left, #ff028d 0%, #bc018a 100%);
        background: -o-linear-gradient(left, #ff028d 0%, #bc018a 100%);
        background: -webkit-gradient(linear, left top, right top, from(#ff028d), to(#bc018a));
        background: linear-gradient(to right, #ff028d 0%, #bc018a 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff028d', endColorstr='#bc018a', GradientType=1 ); }
      #wallet .timeline__stage:nth-child(3) {
        padding: 8px 0;
        width: 380px; }
    #wallet .timeline__text {
      color: white;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 20px; }
    #wallet .timeline__sub-text {
      display: block;
      color: rgba(255, 255, 255, 0.5);
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 14px; }
  #wallet .legend {
    margin-top: 22px;
    text-align: justify; }
    #wallet .legend__text-block {
      display: inline-block;
      margin-right: 45px; }
      #wallet .legend__text-block:nth-child(6) {
        margin-right: 38px; }
      #wallet .legend__text-block:nth-child(7) {
        margin-right: 35px; }
    #wallet .legend__text {
      color: #bbb;
      font-family: "Open Sans", sans-serif;
      font-weight: 400; }
    #wallet .legend__sub-text {
      color: white;
      font-family: "Open Sans", sans-serif;
      font-weight: 600; }
  #wallet .token-price {
    margin-top: 65px; }
    #wallet .token-price__title {
      color: white;
      font-family: "Gilroy-Light";
      font-weight: 600;
      font-size: 24px; }
  #wallet .token-price-table {
    margin-top: 40px; }
    #wallet .token-price-table__inner {
      width: 100%;
      border: 1px solid white; }
    #wallet .token-price-table__col, #wallet .token-price-table__head-col {
      width: 25%;
      padding: 10px 0 9px 14px;
      text-align: left;
      border-bottom: 1px solid rgba(255, 255, 255, 0.45);
      border-right: 1px solid rgba(255, 255, 255, 0.45); }
      #wallet .token-price-table__col:last-child, #wallet .token-price-table__head-col:last-child {
        border-right: none; }
    #wallet .token-price-table__row:last-child .token-price-table__col {
      border-bottom: none; }
    #wallet .token-price-table__head-col {
      color: white;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 16px; }
    #wallet .token-price-table__date {
      font-size: 12px;
      color: #FD028F; }
    #wallet .token-price-table__col {
      color: rgba(255, 255, 255, 0.7);
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 16px; }
      #wallet .token-price-table__col.non-opacity {
        color: white; }
    #wallet .token-price-table__mob-value {
      display: none; }
    #wallet .token-price-table__dec-value {
      display: block; }
  #wallet .wallet-banner {
    width: 657px;
    height: 85px;
    padding: 10px 20px 10px 20px;
    margin: 85px auto;
    text-align: left;
    border-width: 3px 3px 3px 3px;
    border-style: solid;
    -webkit-border-image: -webkit-gradient(left top, right top, color-stop(0%, #0044cb), color-stop(100%, #ff2ac6)) 1;
    -webkit-border-image: -webkit-gradient(left top, right top, color-stop(0%, #0044cb), color-stop(100%, #ff2ac6)) 1;
    -o-border-image: -o-linear-gradient(to right, #0044cb 0%, #ff2ac6 100%) 1;
    border-image: -webkit-gradient(linear, left top, right top, from(#0044cb), to(#ff2ac6)) 1;
    border-image: linear-gradient(to right, #0044cb 0%, #ff2ac6 100%) 1; }
    #wallet .wallet-banner .wb-first {
      margin-bottom: 0;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.67); }
      #wallet .wallet-banner .wb-first a {
        position: relative;
        top: 0;
        font-size: 18px;
        font-weight: 700;
        color: white;
        text-decoration: none; }
        #wallet .wallet-banner .wb-first a img {
          position: relative;
          top: -2px;
          left: 1px; }
    #wallet .wallet-banner .wb-second {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 25px;
      color: white;
      line-height: 32px; }
      #wallet .wallet-banner .wb-second span {
        color: #eb3386; }
  #wallet .wallet__title {
    font-family: "Gilroy-Light";
    font-size: 48px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white; }
  #wallet .wallet__separator {
    margin: 45px auto 80px;
    width: 60px;
    height: 3px;
    background-color: #ef3f9e; }

@media (min-width: 769px) and (max-width: 991px) {
  #wallet .wallet__wrapper {
    width: 100%;
    margin-left: 0;
    left: 0; }
    #wallet .wallet__wrapper .wallet__left-part {
      margin-right: 0;
      width: 390px;
      margin: 0 auto; }
    #wallet .wallet__wrapper .wallet__right-part {
      margin: 0 auto;
      width: 280px; }
      #wallet .wallet__wrapper .wallet__right-part .wallet__button.one {
        left: -60px; }
      #wallet .wallet__wrapper .wallet__right-part .wallet__button.two {
        left: -25px; }
  #wallet .ito-structure {
    width: 690px; }
  #wallet .timeline {
    width: 690px; }
    #wallet .timeline__stage:nth-child(3) {
      width: 345px; } }

@media (max-width: 768px) {
  #wallet {
    top: 0;
    min-height: 2235px;
    padding: 0; }
    #wallet .wallet__content--wrapper {
      background-image: none;
      background-color: #1b0531; }
    #wallet .wallet__title {
      font-size: 28px;
      letter-spacing: 0.4px; }
    #wallet .wallet__separator {
      margin: 45px auto; }
    #wallet .wallet__wrapper {
      padding-top: 35px;
      width: 100%;
      margin: 0 auto;
      position: static; }
      #wallet .wallet__wrapper .wallet__left-part {
        width: 100%;
        margin: 0 auto;
        padding: 0 40px; }
        #wallet .wallet__wrapper .wallet__left-part .end-date, #wallet .wallet__wrapper .wallet__left-part .start-date {
          text-align: left;
          padding-left: 17px;
          padding-right: 17px;
          margin-bottom: 0;
          font-size: 12px;
          width: 100%;
          float: unset; }
          #wallet .wallet__wrapper .wallet__left-part .end-date span, #wallet .wallet__wrapper .wallet__left-part .start-date span {
            position: relative; }
            #wallet .wallet__wrapper .wallet__left-part .end-date span:nth-child(1), #wallet .wallet__wrapper .wallet__left-part .start-date span:nth-child(1) {
              top: 11px; }
            #wallet .wallet__wrapper .wallet__left-part .end-date span:nth-child(3), #wallet .wallet__wrapper .wallet__left-part .start-date span:nth-child(3) {
              float: right;
              top: -7px; }
        #wallet .wallet__wrapper .wallet__left-part .start-date {
          background-color: rgba(255, 255, 255, 0.07); }
        #wallet .wallet__wrapper .wallet__left-part .wallet__left-part--title {
          text-align: center;
          margin-bottom: 35px; }
          #wallet .wallet__wrapper .wallet__left-part .wallet__left-part--title .icobazar-link:before {
            opacity: 1;
            top: unset;
            font-size: 12px;
            width: 60px;
            text-align: center;
            font-weight: 400;
            z-index: 3; }
          #wallet .wallet__wrapper .wallet__left-part .wallet__left-part--title .icobazar-link:nth-child(1) {
            left: 170px;
            top: 590px; }
            #wallet .wallet__wrapper .wallet__left-part .wallet__left-part--title .icobazar-link:nth-child(1):before {
              bottom: -32px;
              left: -10px; }
          #wallet .wallet__wrapper .wallet__left-part .wallet__left-part--title .icobazar-link:nth-child(2) {
            top: 590px;
            left: 50%;
            margin-left: -20px; }
            #wallet .wallet__wrapper .wallet__left-part .wallet__left-part--title .icobazar-link:nth-child(2):before {
              bottom: -32px;
              left: -14px; }
          #wallet .wallet__wrapper .wallet__left-part .wallet__left-part--title .icobazar-link:nth-child(3) {
            top: 590px;
            left: unset;
            right: 170px; }
            #wallet .wallet__wrapper .wallet__left-part .wallet__left-part--title .icobazar-link:nth-child(3):before {
              bottom: -32px;
              left: -8px; }
          #wallet .wallet__wrapper .wallet__left-part .wallet__left-part--title .icobazar-link img {
            opacity: 1; }
        #wallet .wallet__wrapper .wallet__left-part .wallet__left-part-l {
          display: none;
          left: 2%; }
          #wallet .wallet__wrapper .wallet__left-part .wallet__left-part-l ul li {
            font-size: 12px; }
        #wallet .wallet__wrapper .wallet__left-part .wallet__left-part-r {
          width: 100%;
          left: 2%; }
          #wallet .wallet__wrapper .wallet__left-part .wallet__left-part-r ul {
            margin-top: 0; }
            #wallet .wallet__wrapper .wallet__left-part .wallet__left-part-r ul li {
              padding: 0 17px 0 17px;
              text-align: center;
              font-size: 12px;
              text-align: right;
              line-height: -30; }
              #wallet .wallet__wrapper .wallet__left-part .wallet__left-part-r ul li:nth-child(odd) {
                background-color: rgba(255, 255, 255, 0.07); }
              #wallet .wallet__wrapper .wallet__left-part .wallet__left-part-r ul li:nth-child(even) {
                background-color: #1b0531; }
              #wallet .wallet__wrapper .wallet__left-part .wallet__left-part-r ul li:before {
                display: inline-block;
                opacity: 1;
                height: 18px;
                font-weight: 700;
                float: left; }
              #wallet .wallet__wrapper .wallet__left-part .wallet__left-part-r ul li:nth-child(1):before {
                content: "Token price"; }
              #wallet .wallet__wrapper .wallet__left-part .wallet__left-part-r ul li:nth-child(2):before {
                content: "Hard cap"; }
              #wallet .wallet__wrapper .wallet__left-part .wallet__left-part-r ul li:nth-child(3):before {
                content: "Soft cap"; }
              #wallet .wallet__wrapper .wallet__left-part .wallet__left-part-r ul li:nth-child(4):before {
                content: "Token for sale"; }
              #wallet .wallet__wrapper .wallet__left-part .wallet__left-part-r ul li:nth-child(5):before {
                content: "Total token supply"; }
              #wallet .wallet__wrapper .wallet__left-part .wallet__left-part-r ul li:nth-child(6):before {
                content: "Currencies accepted"; }
              #wallet .wallet__wrapper .wallet__left-part .wallet__left-part-r ul li:nth-child(7):before {
                content: "Min individual cap"; }
      #wallet .wallet__wrapper .wallet-banner {
        position: relative;
        top: 115px;
        padding: 8px 10px 8px 10px;
        width: 90%; }
        #wallet .wallet__wrapper .wallet-banner .wb-first {
          font-size: 12px; }
          #wallet .wallet__wrapper .wallet-banner .wb-first a {
            font-size: 16px; }
        #wallet .wallet__wrapper .wallet-banner .wb-second {
          font-size: 16px;
          line-height: 18px; }
      #wallet .wallet__wrapper .wallet__right-part {
        margin-top: 17px;
        width: 100%; }
        #wallet .wallet__wrapper .wallet__right-part .wallet__button {
          display: inline-block;
          top: 130px !important;
          left: -8px !important;
          width: 134px; }
          #wallet .wallet__wrapper .wallet__right-part .wallet__button.two {
            left: 0px !important; }
          #wallet .wallet__wrapper .wallet__right-part .wallet__button svg {
            display: none; }
          #wallet .wallet__wrapper .wallet__right-part .wallet__button span.mobile {
            padding-top: 12px;
            display: block;
            width: 134px;
            height: 39px;
            -webkit-border-radius: 24.5px;
                    border-radius: 24.5px;
            text-align: center;
            font-family: "Open Sans", sans-serif;
            font-size: 12px;
            font-weight: 700; }
          #wallet .wallet__wrapper .wallet__right-part .wallet__button.one span.mobile {
            color: white;
            background-color: #c72897; }
          #wallet .wallet__wrapper .wallet__right-part .wallet__button.two span.mobile {
            background-color: white;
            color: #c72897; }
        #wallet .wallet__wrapper .wallet__right-part .wallet__right-part--title {
          text-align: center;
          font-size: 16px; }
        #wallet .wallet__wrapper .wallet__right-part ul {
          margin-top: 35px;
          padding-left: 40px;
          padding-right: 40px; }
          #wallet .wallet__wrapper .wallet__right-part ul li {
            max-width: 330px;
            margin-bottom: 18px;
            height: auto;
            padding-left: 17px;
            padding-right: 0;
            font-size: 14px; }
    #wallet .wallet__list {
      width: 268px;
      margin: 0 auto 25px;
      float: unset !important; }
      #wallet .wallet__list .wallet__list--item {
        font-size: 12px; }
        #wallet .wallet__list .wallet__list--item:before {
          width: 125px; }
    #wallet .wallet__link {
      left: 0; }
    #wallet .ito-structure {
      position: relative;
      top: 150px;
      width: 100%; }
    #wallet .diagram__caps {
      width: 300px;
      margin: 0 auto; }
    #wallet .diagram__caps-name {
      font-size: 12px;
      margin-right: 10px; }
    #wallet .timeline {
      width: 300px; }
      #wallet .timeline__stage {
        width: 32% !important; }
        #wallet .timeline__stage:nth-child(3) {
          position: relative;
          left: -3px; }
      #wallet .timeline__text {
        font-size: 14px; }
      #wallet .timeline__sub-text {
        font-size: 12px; }
    #wallet .legend {
      width: 300px;
      margin: 20px auto 0; }
      #wallet .legend__text-block:nth-child(1) {
        margin-right: 10px; }
      #wallet .legend__text-block:nth-child(2) {
        margin-right: 0;
        text-align: right; }
        #wallet .legend__text-block:nth-child(2) .legend__text {
          position: relative;
          left: 5px; }
      #wallet .legend__text-block:nth-child(3) {
        margin-right: 50px; }
      #wallet .legend__text-block:nth-child(4) {
        margin-right: 0;
        text-align: right; }
        #wallet .legend__text-block:nth-child(4) .legend__text {
          position: relative;
          left: 5px; }
      #wallet .legend__text-block:nth-child(6) {
        margin-right: 10px; }
      #wallet .legend__text-block:nth-child(7) {
        margin-right: 0;
        text-align: right; }
        #wallet .legend__text-block:nth-child(7) .legend__text {
          position: relative;
          left: 5px; }
    #wallet .token-price-table__inner {
      width: 283px;
      margin: 0 auto; }
    #wallet .token-price-table__head-col, #wallet .token-price-table__col {
      font-size: 14px; }
    #wallet .token-price-table_mob-hidden {
      display: none; }
    #wallet .token-price-table__dec-value {
      display: none; }
    #wallet .token-price-table__mob-value {
      display: block; } }

@media (max-width: 600px) {
  #wallet .wallet__content--wrapper .wallet__left-part .wallet__left-part--title .icobazar-link:nth-child(1) {
    left: 25px; }
  #wallet .wallet__content--wrapper .wallet__left-part .wallet__left-part--title .icobazar-link:nth-child(3) {
    right: 25px; } }

@media (max-width: 350px) {
  #wallet .wallet__content--wrapper .wallet__left-part {
    padding: 0 20px; }
    #wallet .wallet__content--wrapper .wallet__left-part .wallet__left-part--title {
      text-align: center;
      margin-bottom: 35px; }
      #wallet .wallet__content--wrapper .wallet__left-part .wallet__left-part--title .icobazar-link:before {
        opacity: 1;
        top: unset;
        font-size: 12px;
        width: 60px;
        text-align: center;
        font-weight: 400;
        z-index: 3; }
      #wallet .wallet__content--wrapper .wallet__left-part .wallet__left-part--title .icobazar-link:nth-child(1) {
        left: 35px;
        top: 550px; }
        #wallet .wallet__content--wrapper .wallet__left-part .wallet__left-part--title .icobazar-link:nth-child(1):before {
          bottom: -32px;
          left: -10px; }
      #wallet .wallet__content--wrapper .wallet__left-part .wallet__left-part--title .icobazar-link:nth-child(2) {
        top: 550px;
        left: 50%;
        margin-left: -20px; }
        #wallet .wallet__content--wrapper .wallet__left-part .wallet__left-part--title .icobazar-link:nth-child(2):before {
          bottom: -32px;
          left: -14px; }
      #wallet .wallet__content--wrapper .wallet__left-part .wallet__left-part--title .icobazar-link:nth-child(3) {
        top: 550px;
        left: unset;
        right: 35px; }
        #wallet .wallet__content--wrapper .wallet__left-part .wallet__left-part--title .icobazar-link:nth-child(3):before {
          bottom: -32px;
          left: -8px; }
  #wallet .wallet__content--wrapper .wallet__right-part ul {
    padding: 0 20px; }
    #wallet .wallet__content--wrapper .wallet__right-part ul li {
      font-size: 10px; } }
