.common-posts__figure {
  overflow: hidden;
  width: 100%;
  height: 157px; }

.common-posts__image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .6s ease-out;
  -o-transition: all .6s ease-out;
  transition: all .6s ease-out; }
