@charset "UTF-8";
/* BLOCKS */
.hamburger {
  display: none;
  position: relative;
  z-index: 111;
  cursor: pointer; }
  @media (max-width: 768px) {
    .hamburger {
      display: block; } }
  .hamburger__line {
    width: 20px;
    height: 2px;
    background-color: white;
    margin-top: 4px; }
    .hamburger__line:first-child {
      margin-top: 0; }

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.ttf") format("truetype"), url("../fonts/Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

.logo {
  width: 132px;
  height: 24px; }
  @media (max-width: 768px) {
    .logo {
      display: none; } }
  .logo__image {
    max-width: 100%;
    max-height: 100%; }

.logo-mob {
  width: 100%;
  height: 21px;
  margin: 0;
  position: relative;
  z-index: 1;
  font-family: "Gilroy-ExtraBold";
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 1.1px;
  color: white; }
  .logo-mob-box {
    display: none;
    position: relative; }
    @media (max-width: 768px) {
      .logo-mob-box {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }
    .logo-mob-box:after {
      content: '';
      position: absolute;
      display: block;
      right: -25px;
      top: -24px;
      width: 47px;
      height: 47px;
      background-image: url("../../img/sidebar/bubble.png");
      -webkit-background-size: cover;
              background-size: cover;
      background-position: center; }
  .logo-mob_bold {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    color: #3b1359;
    letter-spacing: 1.34px; }

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.ttf") format("truetype"), url("../fonts/Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

.country {
  margin-left: 107px; }
  @media (max-width: 768px) {
    .country {
      margin-left: 0; } }
  .country .select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px; }
  .country .select {
    padding-right: 13px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #fff;
    width: auto; }
  .country .select-styled {
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    font-family: "Gilroy-Light";
    font-weight: 600;
    letter-spacing: 1px; }
    @media (max-width: 768px) {
      .country .select-styled {
        text-transform: uppercase; } }
    .country .select-styled:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 5px 0 5px;
      border-color: #ffffff transparent transparent transparent;
      position: absolute;
      top: 7px;
      right: 0; }
    .country .select-styled:active:after, .country .select-styled.active:after {
      top: 5.5px;
      border-width: 0 5px 8px 5px;
      border-color: transparent transparent #ffffff transparent; }
  .country .select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: white; }
  .country .select-options li {
    margin: 0;
    text-align: center;
    color: #3b1359;
    font-size: 14px;
    font-family: "Gilroy-Light";
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid #3b1359; }
    .country .select-options li a {
      display: block;
      padding: 6px 0;
      text-decoration: none;
      color: #3b1359 !important;
      -webkit-transition: all 0.15s ease-in;
      -o-transition: all 0.15s ease-in;
      transition: all 0.15s ease-in; }
      .country .select-options li a:hover {
        color: #FF2394;
        background: #fff; }
  .country .select-options li[rel="hide"] {
    display: none; }

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.ttf") format("truetype"), url("../fonts/Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.ttf") format("truetype"), url("../fonts/Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

.subscribe-form__title {
  margin: 0 0 14px 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white; }
  @media (max-width: 768px) {
    .subscribe-form__title {
      font-size: 14px; } }

.subscribe-form {
  margin-top: 170px;
  position: relative; }
  @media (max-width: 1400px) {
    .subscribe-form {
      margin-top: 120px; } }
  @media (max-width: 1200px) {
    .subscribe-form {
      margin-top: 100px; } }
  @media (max-width: 991px) {
    .subscribe-form {
      margin-top: 60px; } }
  .subscribe-form_footer {
    margin-top: 0; }
    @media (max-width: 768px) {
      .subscribe-form_footer {
        text-align: center;
        width: 100%; }
        .subscribe-form_footer #sib_embed_signup1 .mandatory-email, .subscribe-form_footer #sib_embed_signup .mandatory-email {
          width: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center; }
        .subscribe-form_footer #sib_embed_signup1 #email1, .subscribe-form_footer #sib_embed_signup #email1 {
          padding: 0 0 0 15px;
          width: 65%;
          max-width: 320px; } }

#sib_embed_signup1, #sib_embed_signup {
  width: 485px;
  opacity: 1; }
  @media (max-width: 1200px) {
    #sib_embed_signup1, #sib_embed_signup {
      width: 100%; } }
  #sib_embed_signup1 .subscribe-label, #sib_embed_signup .subscribe-label {
    text-align: center;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 50px; }
  #sib_embed_signup1 .sib-container, #sib_embed_signup .sib-container {
    position: relative; }
  #sib_embed_signup1 .hidden-btns, #sib_embed_signup .hidden-btns {
    display: none; }
  #sib_embed_signup1 .message_area, #sib_embed_signup .message_area {
    position: absolute !important;
    bottom: -43px;
    background-color: transparent !important;
    border: none !important;
    font-family: "Open Sans", sans-serif !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    width: 100% !important;
    text-align: center !important; }
    #sib_embed_signup1 .message_area .close, #sib_embed_signup .message_area .close {
      display: none !important; }
  #sib_embed_signup1 #email1, #sib_embed_signup #email1 {
    position: relative;
    left: 0;
    top: 0;
    display: inline-block;
    padding: 0 0 0 31px;
    width: 320px;
    height: 48px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 14px;
    color: #3b1359;
    font-family: "Open Sans", sans-serif;
    background-color: white;
    outline: none;
    border: none;
    -webkit-appearence: none;
    vertical-align: top; }
    @media (max-width: 1200px) {
      #sib_embed_signup1 #email1, #sib_embed_signup #email1 {
        width: 270px;
        height: 45px; } }
    @media (max-width: 991px) {
      #sib_embed_signup1 #email1, #sib_embed_signup #email1 {
        width: 225px;
        height: 40px; } }
  #sib_embed_signup1 .button, #sib_embed_signup .button {
    position: relative;
    display: inline-block;
    margin-left: 12px;
    height: 48px;
    width: 147px;
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-decoration: none;
    color: white;
    border: none;
    outline: none;
    -webkit-appearence: none;
    vertical-align: top;
    background: none;
    -webkit-box-shadow: 0px 2px 11px 0px #ff2394;
            box-shadow: 0px 2px 11px 0px #ff2394;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    cursor: pointer; }
    #sib_embed_signup1 .button:after, #sib_embed_signup .button:after {
      content: '';
      position: absolute;
      top: 0;
      z-index: -1;
      display: inline-block;
      height: 48px;
      width: 294px;
      background: #cc0096;
      background: -webkit-gradient(left bottom, right top, color-stop(0%, #cc0096), color-stop(100%, #ff028d));
      background: -webkit-linear-gradient(45deg, #cc0096 0%, #ff028d 100%);
      background: -o-linear-gradient(45deg, #cc0096 0%, #ff028d 100%);
      background: linear-gradient(45deg, #cc0096 0%, #ff028d 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0096', endColorstr='#ff028d', GradientType=1 );
      -webkit-transform: translateX(-240px);
          -ms-transform: translateX(-240px);
              transform: translateX(-240px);
      -webkit-transition: -webkit-transform .4s ease-in;
      transition: -webkit-transform .4s ease-in;
      -o-transition: transform .4s ease-in;
      transition: transform .4s ease-in;
      transition: transform .4s ease-in, -webkit-transform .4s ease-in; }
    #sib_embed_signup1 .button:hover, #sib_embed_signup .button:hover {
      -webkit-box-shadow: 0px 8px 16px 0px rgba(255, 35, 148, 0.4);
              box-shadow: 0px 8px 16px 0px rgba(255, 35, 148, 0.4);
      -webkit-transform: translateY(-7px);
          -ms-transform: translateY(-7px);
              transform: translateY(-7px); }
      #sib_embed_signup1 .button:hover:after, #sib_embed_signup .button:hover:after {
        -webkit-transform: translateX(-160px);
            -ms-transform: translateX(-160px);
                transform: translateX(-160px); }
    @media (max-width: 1200px) {
      #sib_embed_signup1 .button, #sib_embed_signup .button {
        width: 120px;
        height: 45px; } }
    @media (max-width: 991px) {
      #sib_embed_signup1 .button, #sib_embed_signup .button {
        width: 100px;
        height: 40px; } }
    @media (max-width: 768px) {
      #sib_embed_signup1 .button, #sib_embed_signup .button {
        width: 35%;
        max-width: 100px;
        font-size: 14px; }
        #sib_embed_signup1 .button:after, #sib_embed_signup .button:after {
          width: 100%;
          left: 0;
          -webkit-transform: translateX(0);
              -ms-transform: translateX(0);
                  transform: translateX(0); }
        #sib_embed_signup1 .button:hover, #sib_embed_signup .button:hover {
          -webkit-box-shadow: 0px 2px 11px 0px #ff2394;
                  box-shadow: 0px 2px 11px 0px #ff2394;
          -webkit-transform: translateY(0);
              -ms-transform: translateY(0);
                  transform: translateY(0); }
          #sib_embed_signup1 .button:hover:after, #sib_embed_signup .button:hover:after {
            -webkit-transform: translateX(0);
                -ms-transform: translateX(0);
                    transform: translateX(0); } }

.sidebar-social {
  position: absolute;
  bottom: 27px; }
  @media (max-width: 768px) {
    .sidebar-social {
      display: none; } }
  .sidebar-social_footer {
    position: relative;
    bottom: 0; }
    @media (max-width: 768px) {
      .sidebar-social_footer {
        display: block; }
        .sidebar-social_footer .sidebar-social__list {
          text-align: center;
          margin-top: 70px; } }

.sidebar-social__list {
  padding-left: 0;
  margin: 0;
  list-style: none; }

.sidebar-social__icon {
  display: inline-block;
  margin-right: 47px;
  vertical-align: top; }
  .sidebar-social__icon_footer {
    margin-right: 67px; }
    .sidebar-social__icon_footer .sidebar-social__image {
      height: 28px; }
    @media (max-width: 991px) {
      .sidebar-social__icon_footer {
        margin-right: 40px; } }
    @media (max-width: 768px) {
      .sidebar-social__icon_footer {
        margin-right: 30px; } }
  .sidebar-social__icon:last-child {
    margin-right: 0; }

/* ELEMENTS */
@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.ttf") format("truetype"), url("../fonts/Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

.sidebar__title-box {
  position: relative; }
  .sidebar__title-box:after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 2px;
    right: 100px;
    display: block;
    width: 110px;
    height: 110px;
    background-image: url(../../../img/sidebar/bubble.png);
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center; }
  @media (max-width: 1200px) {
    .sidebar__title-box:after {
      right: 20px; } }
  @media (max-width: 991px) {
    .sidebar__title-box:after {
      right: 5px; } }

.sidebar__title {
  margin: 0;
  position: relative;
  z-index: 1;
  font-family: "Gilroy-ExtraBold";
  font-weight: 800;
  font-size: 64px;
  letter-spacing: 1.1px;
  color: white; }
  .sidebar__title_bold {
    font-size: 78px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    color: #3b1359;
    letter-spacing: 1.34px; }

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.ttf") format("truetype"), url("../fonts/Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

.sidebar__sub-title {
  margin: 0;
  font-family: "Gilroy-Light";
  font-weight: 600;
  color: #9F89AE;
  letter-spacing: 1.4px; }
  .sidebar__sub-title_pink {
    color: #ff2394; }

.sidebar {
  position: fixed;
  z-index: 5;
  padding: 0 0 0 166px;
  margin: 0;
  left: 0;
  top: 0;
  width: 613px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #3b1359;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #3b1359), color-stop(100%, #320256));
  background: -webkit-linear-gradient(top, #3b1359 0%, #320256 100%);
  background: -o-linear-gradient(top, #3b1359 0%, #320256 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#3b1359), to(#320256));
  background: linear-gradient(to bottom, #3b1359 0%, #320256 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b1359', endColorstr='#320256', GradientType=0 );
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out; }
  .sidebar__inner {
    position: relative;
    height: 100%; }
  @media (max-width: 1200px) {
    .sidebar {
      width: 473px;
      padding: 0 0 0 50px; } }
  @media (max-width: 991px) {
    .sidebar {
      width: 389px;
      padding: 0 0 0 34px; } }
  @media (max-width: 768px) {
    .sidebar {
      padding: 0 19px;
      width: 100%;
      height: 57px; } }
  .sidebar__content {
    position: absolute;
    top: 50%;
    margin-top: -200px; }
    @media (max-width: 1400px) {
      .sidebar__content {
        margin-top: -170px; } }
    @media (max-width: 991px) {
      .sidebar__content {
        margin-top: -150px; } }
    @media (max-width: 768px) {
      .sidebar__content {
        display: none; } }

.sidebar-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-top: 27px; }
  @media (max-width: 768px) {
    .sidebar-header {
      height: 100%;
      padding-top: 0;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

/* хром, сафари */
.sidebar::-webkit-scrollbar {
  width: 0; }

/* ie 10+ */
.sidebar {
  -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.sidebar {
  overflow: -moz-scrollbars-none; }
