@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.ttf") format("truetype"), url("../fonts/Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

.single-content {
  padding-bottom: 104px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #160027; }
  @media (max-width: 768px) {
    .single-content {
      padding-bottom: 58px; } }
  .single-content__inner {
    margin: 0 auto;
    max-width: 655px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media (max-width: 768px) {
      .single-content__inner {
        padding: 0 16px; } }
  .single-content__date {
    color: #979797 !important;
    margin: 21px 0 25px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    letter-spacing: 0.36px !important; }
    @media (max-width: 768px) {
      .single-content__date {
        margin: 11px 0 15px !important;
        font-size: 12px !important; } }
  .single-content__tag {
    margin-right: 11px;
    display: inline-block;
    color: #ff2394; }
  .single-content h2, .single-content h3, .single-content h4, .single-content h5, .single-content h6, .single-content li, .single-content p, .single-content i, .single-content strong, .single-content b, .single-content a {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #160027; }
    @media (max-width: 768px) {
      .single-content h2, .single-content h3, .single-content h4, .single-content h5, .single-content h6, .single-content li, .single-content p, .single-content i, .single-content strong, .single-content b, .single-content a {
        font-size: 14px; } }
  .single-content p, .single-content ul, .single-content ol {
    margin: 25px 0; }
    @media (max-width: 768px) {
      .single-content p, .single-content ul, .single-content ol {
        margin: 15px 0 0; } }
  .single-content h1, .single-content h2, .single-content h3, .single-content h4, .single-content h5, .single-content h6 {
    margin: 35px 0 0; }
    @media (max-width: 768px) {
      .single-content h1, .single-content h2, .single-content h3, .single-content h4, .single-content h5, .single-content h6 {
        margin: 25px 0 0; } }
  .single-content h1 {
    font-family: "Gilroy-ExtraBold";
    color: #160027;
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
    letter-spacing: 1.03px; }
    @media (max-width: 768px) {
      .single-content h1 {
        font-size: 22px; } }
  .single-content h2, .single-content h3, .single-content h4, .single-content h5, .single-content h6 {
    font-weight: 700; }
  .single-content li, .single-content p, .single-content i, .single-content a {
    font-weight: 400;
    letter-spacing: 0.41px; }
  .single-content img {
    display: block;
    height: 360px;
    -o-object-fit: cover;
       object-fit: cover; }
    @media (max-width: 768px) {
      .single-content img {
        height: 200px; } }
