@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.ttf") format("truetype"), url("../fonts/Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

.article__content {
  padding: 16px 17px 0 21px; }
  @media (max-width: 768px) {
    .article__content {
      margin: 0 auto;
      padding: 0 19px 0 19px; } }

.article__text {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #b4b3b3; }
  @media (max-width: 768px) {
    .article__text {
      display: none;
      font-size: 13px;
      letter-spacing: 0.22px; } }

.article__link {
  display: block;
  margin-top: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #320256;
  text-decoration: none; }
  @media (max-width: 768px) {
    .article__link {
      display: none; } }

.article__divider {
  margin: 20px 0 16px 0;
  height: 1px;
  width: 100%;
  background-color: #b8b8b8;
  opacity: .5; }
  @media (max-width: 768px) {
    .article__divider {
      display: none; } }

.article__tag {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #FF2394; }
  @media (max-width: 768px) {
    .article__tag {
      margin: 8px 0 0;
      font-size: 11px;
      letter-spacing: 0.19px; } }
