{{ "<!-- Stylesheets -->" | safeHTML }}
<header id = "home">
    <div class="container">
      <div class="row top-part">
        <div class="col-md-5 col-xs-12 wow zoomIn" data-wow-duration = "1s">
          <img src="img/logo.png" alt="logo MDL">
        </div>
		 <div class="col-md-6 col-xs-12 wow zoomIn pre-ito" data-wow-duration = "1s" data-wow-delay = "0.2s">
        <h2>Pre-ITO Has Started</h2>
        <div class="buttons">
          <a class = "button-item" href="https://t.me/MDL_Talent_Hub">Join telegram channel</a>
          <a class = "button-item" href="#pre-ito">Check details</a>
        </div>
      </div>
      </div>
  <!-- <div id="raised">
    <div class="container">
      <div class="row">
        <p class="raised-percent">%</p>
        <div class="raised-line" data-max = "{{ .Site.Params.Raised.max_value }}"
             data-current = "{{ .Site.Params.Raised.current_value }}">
          <img id="progress-line" src="img/raised-line.png" alt="progress-line">
        </div>
        <div class="scores">
          <span class="start"><span>$0</span></span>
          <span class="raised_end"><span class="raised-end_score">{{ .Site.Params.Raised.max_value }}</span></span>
        </div>

        <div class="raised-about">
          <ul class="raised-about-list">
            <li class="raised-about-list_item">
              <span class="list-item-title">Raised</span> <br>
              <span class="raised_raised-money raised-total">{{ .Site.Params.Raised.current_value }}</span>
            </li>
            <li class="raised-about-list_item">
              <span class="list-item-title">Participants</span> <br>
              <span class="raised_raised-participant raised-total">{{ .Site.Params.Raised.participants }}</span>
            </li>
            <li class="raised-about-list_item">
              <span class="list-item-title">Distributed</span> <br>
              <span class="raised_raised-distributed raised-total">{{ .Site.Params.Raised.mdl_tokens }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div> -->
  </div>
      <div class="row discription-part wow zoomIn" data-wow-duration = "1s" data-wow-delay = "0.5s">
        <div class="col-md-12 col-xs-12">
          <h2>{{ .Site.Params.Home.top_subtitle }} <br> {{ .Site.Params.Home.bot_subtitle }}</h2>
        </div>
      </div>
      <div class="row down-part">
      {{ range .Site.Params.Home.features }}
        <div class="col-md-4 col-sm-4 wow fadeInLeft" data-wow-duration ="1s" data-wow-delay = "0.4s">{{ .name }}</div>
      {{ end }}
      </div>
    </div>
  </header>
