<div id="market-scope">
    <div class="container">
      <div class="row">
        <h2 class="module-title">{{ .Site.Params.Marketscope.title }}</h2>
        <div class="col-md-5 col-sm-6 col-xs-12 simple-diagram wowzoomIn" data-wow-duration = "1s" data-wow-delay = "0.4s">
        <h5>Overall M&E Industry</h5>
          <img src="img/ms-diagram.png" alt="diagram">
        <p>Value of the global entertainment and media market from 2014 to 2018 (in trillion U.S. dollars)</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 round wow zoomIn" data-wow-duration = "1s" data-wow-delay = "0.7s">  
            <h4>Side service <br> providers:</h4>
            <ul>
              <li>Catering</li>
              <li>Equipment Rental</li>
              <li>Locations</li>
              <li>Production / Postproduc-<br>tion</li>
              <li>Logistics</li>
              <li>More</li>
            </ul>
        </div>
      </div>
      <div class="row"> 
          <div class="col-md-3 col-sm-6 col-xs-12 round-diagram wow fadeInLeft" data-wow-duration = "1s" data-wow-delay = "0.4s"><img src="img/ms-round-diagram.png" alt="round-diagram"> </div>
          <div class="col-md-4 col-sm-6 col-xs-12 round-diagram-discription wow fadeInLeft" data-wow-duration = "1s" data-wow-delay = "0.4s">
            <div class="row"> 
                <h5>Breakdown of Global <span>$12.4bn</span> <br> Talent Sourcing Market</h5>
                <div class="col-md-5 col-sm-5 col-xs-6">
                  <ul class="left-part">
                    <li><span class = "r-diagram-persent">23%</span><span class = "r-diagram-who">Actors</span></li>
                    <li><span class = "r-diagram-persent">18%</span><span class = "r-diagram-who">Models</span></li>
                    <li><span class = "r-diagram-persent">13%</span><span class = "r-diagram-who">Dancers</span></li>
                    <li><span class = "r-diagram-persent">12%</span><span class = "r-diagram-who">Musicians</span></li>
                  </ul>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-6">
                  <ul class="right-part">
                    <li><span class = "r-diagram-persent">11%</span><span class = "r-diagram-who">Singer</span></li>
                    <li><span class = "r-diagram-persent">9%</span><span class = "r-diagram-who">Hosts</span></li>
                    <li><span class = "r-diagram-persent">4%</span><span class = "r-diagram-who">Street Performers</span></li>
                    <li><span class = "r-diagram-persent">10%</span><span class = "r-diagram-who">Other</span></li>
                  </ul>
                </div>
            </div>
          </div>
          <div class="col-md-5 col-sm-8 col-xs-12 triangle wow fadeInRight" data-wow-duration = "1s" data-wow-delay = "0.7s">
            <ul class = 'triangle-list'>
              <li>
               <span class="tr-persent">4%</span><p>International <br> Pro talents</p>
              </li>
              <li>
                <span class="tr-persent">14%</span><p>Local <br> Pro talents</p>
              </li>
              <li>
                <span class="tr-persent">82%</span><p>Local <br> Wannabe</p>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>