<div id="mentor-board">
    <h2 class="module-title">Mentors & Advisors</h2>
    <div class="container">
      <div class="row">
        <ul>
          <li>
            <div class = "mentor-photo-wrapper col-md-6 col-sm-6 col-xs-12 wow bounceInDown">
              <img src="img/advisor.png" alt="Jevgenij Konn">
              <span class="mentor-position">Advisor</span>
              <span class="mentor-name">Jevgenij Konn</span>
            </div>

            <a href="https://www.linkedin.com/in/jevgenij-konn-cfa-08062965/" class="link-to-linkedLn">jevgenij-konn</a>

            <p>Business administration and finance alumni of Heinrich Heine University of Düsseldorf. With over 11 years working in banking and corporate industries in Germany, he acquired profound knowledge and expertise in topics, related to financial markets, treasury and small-cap companies financing. Relocated to Shanghai 3 years ago to lead Asia-Pacific Treasury Department for a DAX-member German multinational company. CFA® charterholder.</p>
          </li>
          <li>
            <div class = "mentor-photo-wrapper col-md-6 col-sm-6 col-xs-12 wow bounceInDown">
              <img src="img/mentor.png" alt="Samuel Doe">
              <span class="mentor-position">Mentor</span>
              <span class="mentor-name">Samuel Doe</span>
            </div>

            <a href="https://www.linkedin.com/in/samuel-doe-26-latitiude/" class="link-to-linkedLn">samuel-doe</a>

            <p>Samuel Doe is a serial entrepreneur with over 28 years’ of experience across various industries such as: video games/software development, mobile, internet, social media, digital vending, maritime, and automotive.He specializes in developing and bringing to market early stage startups and scale-ups – with a strong focus on monetization. He has successfully founded and sold 4 of his startups in the USA. Samuel has personally worked with: Intel, HP, Microsoft, Google, EA, Nintendo, Sony, Sega, Dream Works, Samsung, Motorola, TI; as well as other reputable technological organizations.</p>
          </li>
        </ul>
      </div>
    </div>
</div>
