<div id="mentor-board">
    <h2 class="module-title">Mentors & Advisors</h2>
    <div class="container">
      <div class="row">
        <ul>
          <li>
            <div class = "mentor-photo-wrapper">
              <img src="img/advisor.png" alt="Jevgenij Konn">
              <span class="mentor-position">Advisor</span>
              <span class="mentor-name">Jevgenij Konn</span>
            </div>
            <p>Business administration and finance alumni of Heinrich Heine University of Düsseldorf. With over 15 years working in banking and corporate industries in Germany, he acquired profound knowledge and expertise in topics, related to financial markets, treasury and small-cap companies financing. Relocated to Shanghai 3 years ago to lead Asia-Pacific Treasury Department for a DAX-member German multinational company. CFA® charterholder.</p>
          </li>
          <li>
            <div class = "mentor-photo-wrapper">
              <img src="img/mentor.png" alt="Samuel Doe">
              <span class="mentor-position">Mentor</span>
              <span class="mentor-name">Samuel Doe</span>
            </div>
            <p>Samuel Doe is a serial entrepreneur with over 28 years’ of experience across various industries such as: video games/software development, mobile, internet, social media, digital vending, maritime, and automotive.He specializes in developing and bringing to market early stage startups and scale-ups – with a strong focus on monetization. He has successfully founded and sold 4 of his startups in the USA.Samuel has personally worked with: Intel, HP, Microsoft, Symantec, Google, Yahoo, Excite, EA, Nintendo, Sony, Sega, Midway, Activision, Hasbro, Mattel, Vivendi Universal, Digital Domain, Lucas Arts, Dream Works, Samsung, Motorola, Texas Instruments, Westfield Group, Simon Group; as well as other reputable technological organizations</p>
          </li>
        </ul>
      </div>
    </div>
</div>
