<div id="mentor-board">
    <h2 class="module-title">Mentors & Advisors</h2>
    <div class="container">
      <div class="row">
        <div class="flip-container">
            <div class=" worker-card worker-card-first wow bounceInDown flipper" data-wow-duration = "1.2s" data-wow-delay = "0.4s">
              <div class="front">
              <img src="img/rotator.png" alt="" class="rotator">
                <div class="photo-wrapper"><img src="img/advisor.png" alt="Jevgenij Konn">
                </div>
                <span class="name">Jevgenij Konn</span><span class="position">Advisor</span>
                 <!-- <ul>
                  <li>The founder and initiator <br>of the go  experiences in Golang, Python, Java and Ruby.</li>
                  <li>Developed mobile solutions for Alibaba, italki.com, open <br> language.com, and more.</li>
                </ul> -->
              </div>
              <div class="back">
                <p>Business administration and finance alumni of Heinrich Heine University of Düsseldorf. With over 11 years working in banking and corporate industries in Germany, he acquired profound knowledge and expertise in topics, related to financial markets, treasury and small-cap companies financing. Relocated to Shanghai 3 years ago to lead Asia-Pacific Treasury Department for a DAX-member German multinational company. CFA® charterholder.</p>
                 <a href="https://www.linkedin.com/in/jevgenij-konn-cfa-08062965/" class="link-to-linkedLn"></a>
              </div>
            </div>
        </div>

        <div class="flip-container">
            <div class=" worker-card worker-card-first wow bounceInDown flipper" data-wow-duration = "1.2s" data-wow-delay = "0.4s">
              <div class="front">
              <img src="img/rotator.png" alt="" class="rotator">
                <div class="photo-wrapper"><img src="img/mentor.png" alt="Samuel Doe">
                </div>
                <span class="name">Samuel Doe</span><span class="position">Mentor</span>
                 <!-- <ul>
                  <li>The founder and initiator <br>of the go  experiences in Golang, Python, Java and Ruby.</li>
                  <li>Developed mobile solutions for Alibaba, italki.com, open <br> language.com, and more.</li>
                </ul> -->
              </div>
              <div class="back">
                <p style="font-size: 11px;">Samuel Doe is a serial entrepreneur with over 28 years’ of experience across various industries such as: video games/software development, mobile, internet, social media, digital vending, maritime, and automotive.He specializes in developing and bringing to market early stage startups and scale-ups – with a strong focus on monetization. He has successfully founded and sold 4 of his startups in the USA. Samuel has personally worked with: Intel, HP, Microsoft, Google, EA, Nintendo, Sony, Sega, Dream Works, Samsung, Motorola, TI; as well as other reputable technological organizations.</p>
                 <a href="https://www.linkedin.com/in/samuel-doe-26-latitiude/" class="link-to-linkedLn"></a>
              </div>
            </div>
        </div>

        <div class="flip-container ">
            <div class=" worker-card worker-card-first wow bounceInDown flipper" data-wow-duration = "1.2s" data-wow-delay = "0.4s">
              <div class="front">
              <img src="img/rotator.png" alt="" class="rotator">
                <div class="photo-wrapper"><img src="img/m-a3.jpg" alt="Synth">
                </div>
                <span class="name">Synth</span><span class="position">ICO Advisor</span>
                 <!-- <ul>
                  <li>The founder and initiator <br>of the go  experiences in Golang, Python, Java and Ruby.</li>
                  <li>Developed mobile solutions for Alibaba, italki.com, open <br> language.com, and more.</li>
                </ul> -->
              </div>
              <div class="back">
                <p style="font-size: 16px; text-align: center;">The creator of Skycoin</p>
                 <a class="link-to-sky" href="https://www.skycoin.net/"><img src="img/sky-icon.png" alt="skycoin"></a>
              </div>
            </div>
        </div>
            <br>  
        <div class="flip-container ">
            <div class=" worker-card worker-card-first wow bounceInDown flipper" data-wow-duration = "1.2s" data-wow-delay = "0.4s">
              <div class="front">
              <img src="img/rotator.png" alt="" class="rotator">
                <div class="photo-wrapper"><img src="img/Qiang.png" alt="Qiang Liu">
                </div>
                <span class="name">Qiang Liu</span><span class="position">Mentor</span>
                 <!-- <ul>
                  <li>The founder and initiator <br>of the go  experiences in Golang, Python, Java and Ruby.</li>
                  <li>Developed mobile solutions for Alibaba, italki.com, open <br> language.com, and more.</li>
                </ul> -->
              </div>
              <div class="back">
                <p style="font-size: 16px;">BitShares community senior participant, HelloBTS founder, YOYOW founder</p>
                 <a href="https://www.linkedin.com/in/samuel-doe-26-latitiude/" class="link-to-linkedLn"></a>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>
