<div id="team">
    <div class="container">
      <div class="row">
        <h2 class="module-title">{{ .Site.Params.Team.title }}</h2>
        <div class="col-md-3 col-sm-6 col-xs-12 worker-card worker-card-first wow bounceInDown" data-wow-duration = "1.2s" data-wow-delay = "0.4s">

          <div class="photo-wrapper changed"><img src="img/1-team.png" alt="worker"><span class="position">{{ .Site.Params.Team.one_worker_position }}</span><br><span class="name">{{ .Site.Params.Team.one_worker_name }}</span>
          </div>

          <a href="{{ .Site.Params.Team.one_worker_link }}" class="link-to-linkedLn">{{ .Site.Params.Team.one_worker_link_name }}</a>

          <div class="content-wrapper-text">
           <ul>
              <li>Polyglot programmer with experiences in Golang, Python, Java, Ruby and others.</li>
              <li>The founder and initiator of the <a href="http://gogo.tattoo">gogo.tattoo</a> project.</li>
              <li>Developed mobile solutions for Alibaba, italki.com, openlanguage.com and many more</li>
            </ul>
              <p>{{ .Site.Params.Team.one_worker_bio }} </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 col-md-offset-1 worker-card wow bounceInDown" data-wow-duration = "1.2s" data-wow-delay = "0.6s">
          <div class="photo-wrapper changed"><img src="img/2-team.png" alt="worker"><span class="position">{{ .Site.Params.Team.two_worker_position }}</span><br><span class="name">{{ .Site.Params.Team.two_worker_name }}</span>
          </div>

          <a href="{{ .Site.Params.Team.two_worker_link }}" class="link-to-linkedLn">{{ .Site.Params.Team.two_worker_link_name }}</a>

          <div class="content-wrapper-text">
          <ul>
            <li>Running several companies around Asia - China, Taiwan, Vietnam and Hong-Kong</li>
            <li>Area of expertise is project management and entrepreneurship</li>
            <li>Work experience in light machinery, F&amp;B, and FMCG as well as bio- and regenerative medicin</li>
          </ul>
            <p>{{ .Site.Params.Team.two_worker_bio }} </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 col-md-offset-1 worker-card wow bounceInDown" data-wow-duration = "1.2s" data-wow-delay = "0.8s">
          <div class="photo-wrapper changed"><img src="img/3-team.png" alt="worker"><span class="position">{{ .Site.Params.Team.three_worker_position }}</span><br><span class="name">{{ .Site.Params.Team.three_worker_name }}</span>
          </div>

          <a href="{{ .Site.Params.Team.three_worker_link }}" class="link-to-linkedLn">{{ .Site.Params.Team.three_worker_link_name }}</a>

          <div class="content-wrapper-text">
            <ul>
              <li>Involved in the market himself as a talent, booker, and casting director.</li>
              <li>Founder and operational manager of F-You Art Community as well as other several smaller mediaprojects.</li>
              <li>Researcher of Creative Industries and Management</li>
            </ul>
            <p>{{ .Site.Params.Team.three_worker_bio }} </p>
          </div>
          </div>
      </div>
    </div>
  </div>
