<div id="team">
    <div class="container">
      <div class="row">
        <h2 class="module-title">{{ .Site.Params.Team.title }}</h2>
        <div class="col-md-3 col-sm-6 col-xs-12 worker-card worker-card-first wow bounceInDown" data-wow-duration = "1.2s" data-wow-delay = "0.4s">

          <div class="photo-wrapper changed"><img src="img/1-team.png" alt="worker"><span class="position">{{ .Site.Params.Team.one_worker_position }}</span><br><span class="name">{{ .Site.Params.Team.one_worker_name }}</span>
          </div>
          <div class="content-wrapper-text"> 
           <ul>
              <li>The founder and initiator <br>of the go  experiences in Golang, Python, Java and Ruby.</li>
              <li>Developed mobile solutions for Alibaba, italki.com, open <br> language.com, and more.</li>
            </ul>
              <p>Graduated from St. Petersburg State
University, Russia he is living in
Shanghai, PRC more than a decade.
The area of expertise including but
not limited to the apparel
manufacturing, media publishing
house, food and non-food
import/export and distribution,
biomedicine technologies and
regenerative medicine. Dmitry runs <br>a group of companies set in China,
Vietnam, Hong Kong, Taiwan and
Russia, which makes him able to
handle any sort of tax and legal issues
in Asia as well as be experienced
enough in scaling strategies.</p>
          </div>
          <a href="{{ .Site.Params.Team.one_worker_link }}" class="link-to-linkedLn">{{ .Site.Params.Team.one_worker_link_name }}</a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 col-md-offset-1 worker-card wow bounceInDown" data-wow-duration = "1.2s" data-wow-delay = "0.6s">
          <div class="photo-wrapper changed"><img src="img/2-team.png" alt="worker"><span class="position">{{ .Site.Params.Team.two_worker_position }}</span><br><span class="name">{{ .Site.Params.Team.two_worker_name }}</span>
          </div>
          <div class="content-wrapper-text"> 
          <ul>
              <li>The founder and initiator <br>of the go  experiences in Golang, Python, Java and Ruby.</li>
              <li>Developed mobile solutions for Alibaba, italki.com, open <br> language.com, and more.</li>
            </ul>
              <p>Graduated from St. Petersburg State
University, Russia he is living in
Shanghai, PRC more than a decade.
The area of expertise including but
not limited to the apparel
manufacturing, media publishing
house, food and non-food
import/export and distribution,
biomedicine technologies and
regenerative medicine. Dmitry runs <br>a group of companies set in China,
Vietnam, Hong Kong, Taiwan and
Russia, which makes him able to
handle any sort of tax and legal issues
in Asia as well as be experienced
enough in scaling strategies.</p>
          </div>
            <a href="{{ .Site.Params.Team.two_worker_link }}" class="link-to-linkedLn">{{ .Site.Params.Team.two_worker_link_name }}</a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 col-md-offset-1 worker-card wow bounceInDown" data-wow-duration = "1.2s" data-wow-delay = "0.8s">
          <div class="photo-wrapper changed"><img src="img/3-team.png" alt="worker"><span class="position">{{ .Site.Params.Team.three_worker_position }}</span><br><span class="name">{{ .Site.Params.Team.three_worker_name }}</span>
          </div>
          <div class="content-wrapper-text"> 
          <ul>
              <li>The founder and initiator <br>of the go  experiences in Golang, Python, Java and Ruby.</li>
              <li>Developed mobile solutions for Alibaba, italki.com, open <br> language.com, and more.</li>
            </ul>
              <p>Graduated from St. Petersburg State
University, Russia he is living in
Shanghai, PRC more than a decade.
The area of expertise including but
not limited to the apparel
manufacturing, media publishing
house, food and non-food
import/export and distribution,
biomedicine technologies and
regenerative medicine. Dmitry runs <br>a group of companies set in China,
Vietnam, Hong Kong, Taiwan and
Russia, which makes him able to
handle any sort of tax and legal issues
in Asia as well as be experienced
enough in scaling strategies.</p>
          </div>
          <a href="{{ .Site.Params.Team.three_worker_link }}" class="link-to-linkedLn">{{ .Site.Params.Team.three_worker_link_name }}</a>
        </div>
      </div>
    </div>
  </div>