<div id="pre-ito">
  <div class="container">
    <div class="row">
    <h2 class="module-title">PRE-ITO is ongoing</h2>
      <div class="col-md-5 col-xs-5">
          <div class="rev-block-wrapper">
            <h4 class="rev-block-title wow fadeInLeft" data-wow-duration = "1s" data-wow-delay = "0.5">Information</h3>
            <p>
                <span class = "colored">Symbol: MDL.life (pre-MDL) <br>
                <span class = "colored">Platform:</span> Waves <br>
                <span class = "colored">Token Supply:</span> 100,000,000 <br>
                <span class = "colored">Date:</span> 12 Dec, 2017 - 31 Jan, 2018 <br>
                <span class = "colored">Accepted:</span> BTC, BCC, ETH, ETC, SKY, WAVES, DASH, Zcash<br>
                <span class = "colored">Token Price:</span> $0.01 <br>
                <span class = "colored">Max individual cap:</span> $20,000 <br>
                <span class = "colored">Hardcap:</span> $500,000 <br>
                <span class = "colored">Projected ITO price:</span> $0.05 <br>
                <span class = "colored">Pre-ITO interest:</span> 5x</p>
          </div>
      </div>
      <div class="col-md-2 col-xs-2">
        <img src="img/rev-line.png" alt="vertical-line"></div>
        <div class="col-md-5 col-xs-5 last">
        <div class="rev-block-wrapper">
            <h4 class="rev-block-title wow fadeInRight" data-wow-duration = "1s" data-wow-delay = "0.5">How to</h3>
            <ul>
              <li class = "wow fadeInRight" data-wow-duration = "0.8s" data-wow-delay = "0.7s">1. Install Waves wallet (proceed to <a href="https://waveswallet.io/">waveswallet.io</a>)</li>
              <li class = "wow fadeInRight" data-wow-duration = "0.8s" data-wow-delay = "0.9s">2. Join our telegram channel</li>
              <li class = "wow fadeInRight" data-wow-duration = "0.8s" data-wow-delay = "1.1s">3. Notify us about your purchase intentions</li>
            </ul>
            <a class="button" href="https://t.me/joinchat/BafuqEaDUdGLXyyeJDIT4A">Join telegram channel</a>
            <br/><br>
            <a class="button" href="https://gateway.ipfs.io/ipfs/{{ .Site.Params.pre_ito_manual }}">Read Manual</a>
          </div>
        </div>
    </div>
  </div>
</div>
