<div id="roadmap">
    <div class="container">
    <h2 class="module-title">{{ .Site.Params.Roadmap.title }}</h2>
      <div class="row tree-wrapper">
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-5 col-md-offset-3 col-sm-offset-1 date-wrapper">
            <ul>
              <li class = "wow fadeInLeft" data-wow-duration = "1.5s" data-wow-delay = "0.2s">October <span>2017</span></li>
              <li class = "wow fadeInLeft" data-wow-duration = "1.5s" data-wow-delay = "0.3s">November <span>2017</span></li>
            </ul>
          </div>
          <div class="col-md-5 col-sm-8 col-xs-7 event-wrapper">
            <ul>
              <li class = "wow fadeInRight" data-wow-duration = "1.5s" data-wow-delay = "0.2s">Launch of Website and blog, MDL Token issue</li>
              <li class = "wow fadeInRight" data-wow-duration = "1.5s" data-wow-delay = "0.3s">GUI prototype</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-5 col-md-offset-3 col-sm-offset-1 date-wrapper">
            <ul>
              <li class = "wow fadeInLeft" data-wow-duration = "1.5s" data-wow-delay = "0.5s">January <span>2018</span></li>
              <li class = "wow fadeInLeft" data-wow-duration = "1.5s" data-wow-delay = "0.6s">March <span>2018</span></li>
              <li class = "wow fadeInLeft" data-wow-duration = "1.5s" data-wow-delay = "0.7s">November <span>2018</span></li>
              <li class = "wow fadeInLeft" data-wow-duration = "1.5s" data-wow-delay = "0.8s">March <span>2019</span></li>
              <li class = "wow fadeInLeft" data-wow-duration = "1.5s" data-wow-delay = "0.9s">April-June <span>2019</span></li>
              <li class = "wow fadeInLeft" data-wow-duration = "1.5s" data-wow-delay = "0.6s">September <span>2019</span></li>
              <li class = "wow fadeInLeft" data-wow-duration = "1.5s" data-wow-delay = "0.7s">December <span>2019</span></li>
              <li class = "wow fadeInLeft" data-wow-duration = "1.5s" data-wow-delay = "0.8s">March <span>2020</span></li>
              <li class = "wow fadeInLeft" data-wow-duration = "1.5s" data-wow-delay = "0.9s">June <span>2020</span></li>
            </ul>
          </div>
          <div class="col-md-5 col-sm-8 col-xs-7 event-wrapper">
            <ul>
              <li class = "wow fadeInRight" data-wow-duration = "1.5s" data-wow-delay = "0.5s">Pre-ITO</li>
              <li class = "wow fadeInRight" data-wow-duration = "1.5s" data-wow-delay = "0.6s">ITO (Launch of the MDL Mainnet)</li>
                <li class = "wow fadeInRight" data-wow-duration = "1.5s" data-wow-delay = "0.7s">Alpha Launch</li>
                <li class = "wow fadeInRight" data-wow-duration = "1.5s" data-wow-delay = "0.8s">MVP Beta launch</li>
                <li class = "wow fadeInRight" data-wow-duration = "1.5s" data-wow-delay = "0.9s">Launch of Chinese version for local talents</li>
                <li class = "wow fadeInRight" data-wow-duration = "1.5s" data-wow-delay = "0.6s">Expansion to entire China talent market</li>
                <li class = "wow fadeInRight" data-wow-duration = "1.5s" data-wow-delay = "0.7s">Cross-border expansion to Asia</li>
                <li class = "wow fadeInRight" data-wow-duration = "1.5s" data-wow-delay = "0.8s">Prosumer ecosystem marketplace</li>
                <li class = "wow fadeInRight" data-wow-duration = "1.5s" data-wow-delay = "0.9s">Mining system launch</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
