<div id="roadmap">
    <div class="container">
    <h2 class="module-title">{{ .Site.Params.Roadmap.title }}</h2>
      <div class="row tree-wrapper">
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-5 col-md-offset-2 date-wrapper">
            <ul>
              <li class = "wow fadeInLeft" data-wow-duration = "1.5s" data-wow-delay = "0.2s">October <span>2017</span></li>
              <li class = "wow fadeInLeft" data-wow-duration = "1.5s" data-wow-delay = "0.3s">December <span>2017</span></li>
              <li class = "wow fadeInLeft" data-wow-duration = "1.5s" data-wow-delay = "0.4s">May <span>2018</span></li>
            </ul>
          </div>
          <div class="col-md-5 col-sm-8 col-xs-7 event-wrapper">
            <ul>
              <li class = "wow fadeInRight" data-wow-duration = "1.5s" data-wow-delay = "0.2s">Launch of Website and blog, MDL Token issue</li>
              <li class = "wow fadeInRight" data-wow-duration = "1.5s" data-wow-delay = "0.3s">GUI prototype</li>
              <li class = "wow fadeInRight" data-wow-duration = "1.5s" data-wow-delay = "0.4s">MVP launch</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-5 col-md-offset-2 date-wrapper">
            <ul>
              <li class = "wow fadeInLeft" data-wow-duration = "1.5s" data-wow-delay = "0.5s">December <span>2018</span></li>
              <li class = "wow fadeInLeft" data-wow-duration = "1.5s" data-wow-delay = "0.6s">March <span>2019</span></li>
            </ul>
          </div>
          <div class="col-md-5 col-sm-8 col-xs-7 event-wrapper">
            <ul>
              <li class = "wow fadeInRight" data-wow-duration = "1.5s" data-wow-delay = "0.5s">Beta Launch, entry to Shanghai market</li>
              <li class = "wow fadeInRight" data-wow-duration = "1.5s" data-wow-delay = "0.6s">Round A investments</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-5 col-md-offset-2 date-wrapper">
            <ul>
              <li class = "wow fadeInLeft" data-wow-duration = "1.5s" data-wow-delay = "0.7s">July <span>2019</span></li>
              <li class = "wow fadeInLeft" data-wow-duration = "1.5s" data-wow-delay = "0.8s">August <span>2019</span></li>
              <li class = "wow fadeInLeft" data-wow-duration = "1.5s" data-wow-delay = "0.9s">October <span>2019</span></li>
            </ul>
          </div>
          <div class="col-md-5 col-sm-8 col-xs-7 event-wrapper">
            <ul>
              <li class = "wow fadeInRight" data-wow-duration = "1.5s" data-wow-delay = "0.7s">Implementation of BC & PIDS components</li>
              <li class = "wow fadeInRight" data-wow-duration = "1.5s" data-wow-delay = "0.8s">Entry to entire China market</li>
              <li class = "wow fadeInRight" data-wow-duration = "1.5s" data-wow-delay = "0.9s">Entry to local talent sourcing markets in entire Asia</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
