<div id="roadmap">
    <h2 class="module-title">{{ .Site.Params.Roadmap.title }}</h2>
    <div class="roadmap-wrapper">
        <div class="roadmap-item wow zoomIn" data-wow-duration = "1s" data-wow-delay = "0.3s">
          Launch of Website and blog, <br>
          MDL Token issue <br>
          <p class="roadmap-item_date">October 2017</p>
          <a data-media = "img/Token_issue_video.mp4" data-toggle="modal" data-target="#rp-modal" href="#" class="rp-video-link"><img src="img/video-rp.svg" alt=""></a>
        </div>

        <div class="roadmap-item wow zoomIn" data-wow-duration = "1s" data-wow-delay = "0.3s">
          GUI prototype
          <p class="roadmap-item_date">November 2017</p>
          <a data-media = "img/gui.jpg" data-toggle="modal" data-target="#rp-modal" href="#" class="rp-image-link"><img src="img/img-rp.svg" alt=""></a>
        </div>

        <div class="roadmap-item wow zoomIn" data-wow-duration = "1s" data-wow-delay = "1.2s">
          Skyldger Conference, <br> Shanghai/Shenzhen - Photo
          <p class="roadmap-item_date"> December 2017</p>
        </div>
        <div class="roadmap-item wow zoomIn" data-wow-duration = "1s" data-wow-delay = "0.4s">
          Pre-ITO
          <p class="roadmap-item_date">January 2018</p>
        </div>

        <div class="roadmap-item" data-wow-duration = "1s" data-wow-delay = "0.5s">
          ITO (Launch of the MDL <br>
          Mainnet)
          <p class="roadmap-item_date">March 2018</p>
        </div>
        <div class="roadmap-item wow zoomIn" data-wow-duration = "1s" data-wow-delay = "0.6s">
          Alpha Launch
          <p class="roadmap-item_date">November 2018</p>
        </div>
        <div class="roadmap-item wow zoomIn" data-wow-duration = "1s" data-wow-delay = "0.7s">
          MVP Beta launch
          <p class="roadmap-item_date">March 2019</p>
        </div>

        <div class="roadmap-item wow zoomIn" data-wow-duration = "1s" data-wow-delay = "0.8s">
          Launch of Chinese version for <br>
          local talents
          <p class="roadmap-item_date">April-June 2019</p>
        </div>
        <div class="roadmap-item wow zoomIn" data-wow-duration = "1s" data-wow-delay = "0.9s">
          Expansion to entire China <br> talent market
          <p class="roadmap-item_date">September 2019</p>
        </div>
        <div class="roadmap-item wow zoomIn" data-wow-duration = "1s" data-wow-delay = "1s">
          Cross-border expansion <br> to Asia
          <p class="roadmap-item_date">December 2019</p>
        </div>

        <div class="roadmap-item wow zoomIn" data-wow-duration = "1s" data-wow-delay = "1.1s">
          Prosumer ecosystem <br> marketplace
          <p class="roadmap-item_date">March 2020</p>
        </div>
        <div class="roadmap-item wow zoomIn" data-wow-duration = "1s" data-wow-delay = "1.3s">
          Conference
          <p class="roadmap-item_date">May 2020</p>
        </div>

        <div class="roadmap-item wow zoomIn" data-wow-duration = "1s" data-wow-delay = "1.4s">
          Mining system launch
          <p class="roadmap-item_date">June 2020</p>
        </div>


    </div>

</div>

<!-- Modal -->
<div id="rp-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      <div class="modal-body">
      </div>
    </div>

  </div>
</div>
