<!-- <div id="video">
  <div class="container">
  <h2 class="module-title">{{ .Site.Params.Video.title }}</h2>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <video width="100%" controls src="https://gateway.ipfs.io/ipfs/QmVBECcf1tMtmu4mSXivXJj3NQr9kWjvQrWYpWikEB3ReB/MDL%20Intro%20Video.mp4">
        Sorry, your browser doesn't support embedded videos,
        but don't worry, you can <a href="https://gateway.ipfs.io/ipfs/QmVBECcf1tMtmu4mSXivXJj3NQr9kWjvQrWYpWikEB3ReB/MDL%20Intro%20Video.mp4">download it</a>
        and watch it with your favorite video player!
        </video>
      </div>
    </div>
  </div>
</div> -->
<div id="video-presentation">
 <h2 class="module-title">VIDEO INTRODUCTION</h2>
  <video controls poster="/img/video-thumbnail.jpg">
    <source src = "https://gateway.ipfs.io/ipfs/QmVBECcf1tMtmu4mSXivXJj3NQr9kWjvQrWYpWikEB3ReB/MDL%20Intro%20Video.mp4" type = "video/mp4">
  </video>
  <i id = "video-btn" class="fa fa-play-circle-o stoped" aria-hidden="true"></i>
</div>
