<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="MDL" />
    <meta name="description" content="MDL - talent hub"/>
    <meta name="robots" content="noindex, nofollow" />

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MDL - talent hub</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Own styles -->
    <link rel="stylesheet" href="css/style.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ropa+Sans" rel="stylesheet">
    <!-- Includes -->
    <link rel="stylesheet" href="css/animate.css">
    <script async="async" src="https://use.fontawesome.com/8b26992a70.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  </head>
  <body>
  
  <!-- 1. Starts header -->
    <!-- Sticky top menu under header -->
 <div id = "nav-menu">
    <div class="container-fluid">
      <div class="row">
        <nav id="top-menu" class="col-md-12 col-sm-12 wow fadeInLeft" data-wow-duration = "1s" >
          <i class="fa fa-bars" aria-hidden="true" id = "hamburger"></i>
            <ul class="list-top-menu" id = "top-menu-wr">
              <span class="close-mobile-menu glyphicon glyphicon-remove"></span>
              <li><a  class="active" href="#home">Home</a></li>
              <li><a href="#video-presentation">Video</a></li>
              <li><a href="#problems">Problems</a></li>
              <li><a href="#our-tool">Our tool</a></li>
              <li><a href="#solutions">Solutions</a></li>
              <li><a href="#revenue-streams">Streams</a></li>
              <li><a href="#market-scope">market scope</a></li>
              <li><a href="#mentor-board">mentor board</a></li>
              <li><a href="#team">team</a></li>
              <li><a href="#roadmap">roadmap</a></li>
              <li><a href="#pre-ito">pre-ito</a></li>
              <li class="link-to-blog">
                <a href="" download>Blog</a>
              </li>
            </ul> 
        </nav>
     </div>
    </div>
  </div>
    <!-- End sticky top menu under header -->
    
    <!-- EDITED BLOCK --------------------------------------------------------------------------------------------------------------------------------------------- -->
    <!-- EDITED BLOCK --------------------------------------------------------------------------------------------------------------------------------------------- -->
    <!-- EDITED BLOCK --------------------------------------------------------------------------------------------------------------------------------------------- -->
    <!-- EDITED BLOCK --------------------------------------------------------------------------------------------------------------------------------------------- -->
    <!-- EDITED BLOCK --------------------------------------------------------------------------------------------------------------------------------------------- -->
  <header id = "home">
    <div class="container">
      <div class="row top-part">
        <div class="col-md-6 col-xs-12 wow zoomIn" data-wow-duration = "1s">
          <img src="img/logo.png" alt="logo MDL">
        </div>
        <div class="col-md-6 col-xs-12 wow zoomIn pre-ito" data-wow-duration = "1s" data-wow-delay = "0.2s">
          <h2>Pre-ITO Has Started</h2>
          <div class="buttons">
            <a class = "button-item" href="https://telegram.org/">Join telegram channel</a>
            <a class = "button-item" href="https://telegram.org/">Check details</a>
          </div>
        </div>
      </div>
  </header>

    <!-- End header -->
    <!-- EDITED BLOCK --------------------------------------------------------------------------------------------------------------------------------------------- -->
    <!-- EDITED BLOCK --------------------------------------------------------------------------------------------------------------------------------------------- -->
    <!-- EDITED BLOCK --------------------------------------------------------------------------------------------------------------------------------------------- -->
    <!-- EDITED BLOCK --------------------------------------------------------------------------------------------------------------------------------------------- -->
    <!-- EDITED BLOCK --------------------------------------------------------------------------------------------------------------------------------------------- -->

<div id="video-presentation">
 <h2 class="module-title">VIDEO INTRODUCTION</h2>
  <video loop = "loop">
    <source src = "https://gateway.ipfs.io/ipfs/QmVBECcf1tMtmu4mSXivXJj3NQr9kWjvQrWYpWikEB3ReB/MDL%20Intro%20Video.mp4" type = "video/mp4">
  </video>
  <i id = "video-btn" class="fa fa-pause-circle-o" aria-hidden="true"></i>
</div>
          


<!--  Pre ito -->
<!-- NEW  BLOCK --------------------------------------------------------------------------------------------------------------------------------------------- -->
<!-- NEW  BLOCK --------------------------------------------------------------------------------------------------------------------------------------------- -->
<!-- NEW  BLOCK --------------------------------------------------------------------------------------------------------------------------------------------- -->
<!-- NEW  BLOCK --------------------------------------------------------------------------------------------------------------------------------------------- -->
<!-- NEW  BLOCK --------------------------------------------------------------------------------------------------------------------------------------------- -->
<!-- NEW  BLOCK --------------------------------------------------------------------------------------------------------------------------------------------- -->
<!-- NEW  BLOCK --------------------------------------------------------------------------------------------------------------------------------------------- -->
<!-- NEW  BLOCK --------------------------------------------------------------------------------------------------------------------------------------------- -->
<!-- NEW  BLOCK --------------------------------------------------------------------------------------------------------------------------------------------- -->

  <div id="pre-ito">
    <div class="container">
      <div class="row">
      <h2 class="module-title">PRE ITO is ongoing</h2>
        <div class="col-md-5 col-xs-5">
            <div class="rev-block-wrapper">
              <h4 class="rev-block-title wow fadeInLeft" data-wow-duration = "1s" data-wow-delay = "0.5">Information</h3>
              <p><span class = "colored">Pre-ITO Information</span> Symbol: MDL.life (pre-MDL) <br>
<span class = "colored">Platform:</span> Waves <br>
<span class = "colored">Token Supply:</span> 100,000,000 <br>
<span class = "colored">Date:</span> 12.12.2017-31.1.2018 <br>
<span class = "colored">Accept:</span> BTC, BCC, ETH,ETC, SKY, WAVES, DASH, Zcash,  <br>
<span class = "colored">Token Price:</span> $0.01 <br>
<span class = "colored">Max individual cap:</span> $20,000 <br>
<span class = "colored">Hardcap:</span> $600,000 <br>
<span class = "colored">Projected ITO price:</span> $0.05 <br>
<span class = "colored">Pre-ITO interest:</span> 5x</p>
            </div>
        </div>
        <div class="col-md-2 col-xs-2"><img src="img/rev-line.png" alt="vertical-line"></div>
        <div class="col-md-5 col-xs-5 last">
          <div class="rev-block-wrapper">
              <h4 class="rev-block-title wow fadeInRight" data-wow-duration = "1s" data-wow-delay = "0.5">How to</h3>
              <ul>
                <li class = "wow fadeInRight" data-wow-duration = "0.8s" data-wow-delay = "0.7s">1. Install Waves wallet (proceed to <a href="https://waveswallet.io/">waveswallet.io</a>)</li>
                <li class = "wow fadeInRight" data-wow-duration = "0.8s" data-wow-delay = "0.9s">2. Join our telegram channel</li>
                <li class = "wow fadeInRight" data-wow-duration = "0.8s" data-wow-delay = "1.1s">3. Notify us about your purchase intentions</li>
              </ul>
              <a class="button" href="#">Check details</a>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end ---------------------------------------------------------------------------------------------------------------------------------------------------  -->
     <!-- end --------------------------------------------------------------------------------------------------------------------------------------------------- -->
     <!-- end --------------------------------------------------------------------------------------------------------------------------------------------------- -->
     <!-- end --------------------------------------------------------------------------------------------------------------------------------------------------- -->
     <!-- end --------------------------------------------------------------------------------------------------------------------------------------------------- -->
     <!-- end --------------------------------------------------------------------------------------------------------------------------------------------------- -->
     <!-- end --------------------------------------------------------------------------------------------------------------------------------------------------- -->
     <!-- end --------------------------------------------------------------------------------------------------------------------------------------------------- -->
     <!-- end --------------------------------------------------------------------------------------------------------------------------------------------------- -->
     <!-- end --------------------------------------------------------------------------------------------------------------------------------------------------- -->


<!-- Problems  -->
    <div id="problems">
      <div class="container">
      <h2 class="module-title">Problems</h2>
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-12">
            <img class="wow zoomIn" data-wow-duration = "1s" data-wow-delay = "0.5s" src="img/problem-search.png" alt="search">
            <h4 class = "wow zoomIn" data-wow-duration = "1s" data-wow-delay = "0.6s">Search</h4> 
            <div class="divider wow zoomIn" data-wow-delay = "0.6s"> </div>
            <p class = "wow zoomIn" data-wow-duration = "1s" data-wow-delay = "0.6s">Channels are not consolidated, talent search is still done manually</p>
          </div>
          <div class="col-md-3  col-sm-4 col-xs-12 col-md-offset-1">
            <img class="wow zoomIn" data-wow-duration = "1s" data-wow-delay = "0.8s" src="img/problem-reputation.png" alt="reputation">
            <h4 class = "wow zoomIn" data-wow-duration = "1s" data-wow-delay = "0.9s">Reputation</h4>
            <div class="divider wow zoomIn" data-wow-delay = "0.9s"> </div>
            <p class = "wow zoomIn" data-wow-duration = "1s" data-wow-delay = "0.9s">A lot of misbehavior is happening because it is not going to be traced</p>
          </div>
          <div class="col-md-3  col-sm-4 col-xs-12 col-md-offset-1">
            <img class="wow zoomIn" data-wow-duration = "1s" data-wow-delay = "1.1s" src="img/problem-search.png" alt="presentation">
            <h4 class = "wow zoomIn" data-wow-duration = "1s" data-wow-delay = "1.2s">Presentation</h4>
            <div class="divider wow zoomIn" data-wow-delay = "1.2s"> </div>
            <p class = "wow zoomIn" data-wow-duration = "1s" data-wow-delay = "1.2s">There is no industry standard for presentation materials</p>
          </div>
        </div>
      </div>
    </div>

  <!--  Our tool -->

  <div id="our-tool">
    <div class="container">
      <div class="row">
        <h2 class="module-title">Our tool</h2>
        <div class="col-md-12 wow fadeInRight" data-wow-duration = "1.2s"><img src="img/inf-1.png" alt="infographic"></div>
      </div>
    </div>
  </div>

  <!--  Solutions -->
  <div id="solutions">
    <div class="container">
      <div class="row">
      <h2 class="module-title">Solutions</h2>
        <div class="col-md-3 col-sm-4 wow fadeInLeft" data-wow-duration = "1.2s" data-wow-delay = "0.4s">
          <img src="img/sol-channels.jpg" alt="Channels">
          <h4>Channels <br> consolidated</h4>
        </div>
        <div class="col-md-3 col-sm-4 col-md-offset-1 wow fadeInLeft" data-wow-duration = "1.2s" data-wow-delay = "0.8s">
          <img src="img/sol-reputation.jpg" alt="reputation">
          <h4>Reputation <br>  is traced</h4>
        </div>
        <div class="col-md-3 col-sm-4 col-md-offset-1 wow fadeInLeft" data-wow-duration = "1.2s" data-wow-delay = "1.2s">
          <img src="img/sol-presenatation.jpg" alt="Presentation">
          <h4>Presentation <br> standardized</h4>
        </div>
      </div>
    </div>
  </div>

  <!--  Revenue streams -->

  <div id="revenue-streams">
    <div class="container">
      <div class="row">
      <h2 class="module-title">Revenue streams</h2>
        <div class="col-md-5 col-xs-5">
            <div class="rev-block-wrapper">
              <img src="img/rev-st-1.png" alt="Conservative streams" class = " wow fadeInLeft" data-wow-duration = "1s" data-wow-delay = "0.5">
              <h4 class="rev-block-title wow fadeInLeft" data-wow-duration = "1s" data-wow-delay = "0.5">Conservative streams</h3>
              <ul>
                <li class = "wow fadeInLeft" data-wow-duration = "0.8s" data-wow-delay = "0.7s">Extended functionality</li>
                <li class = "wow fadeInLeft" data-wow-duration = "0.8s" data-wow-delay = "0.9s">Commission from transactions</li>
                <li class = "wow fadeInLeft" data-wow-duration = "0.8s" data-wow-delay = "1.1s">Target advertising </li>
              </ul>
            </div>
        </div>
        <div class="col-md-2 col-xs-2"><img src="img/rev-line.png" alt="vertical-line"></div>
        <div class="col-md-5 col-xs-5">
          <div class="rev-block-wrapper">
              <img src="img/rev-st-2.png" alt="Conservative streams" class = " wow fadeInRight" data-wow-duration = "1s" data-wow-delay = "0.5">
              <h4 class="rev-block-title wow fadeInRight" data-wow-duration = "1s" data-wow-delay = "0.5">Innovative streams</h3>
              <ul>
                <li class = "wow fadeInRight" data-wow-duration = "0.8s" data-wow-delay = "0.7s">Reputation-based partnership programs with brands</li>
                <li class = "wow fadeInRight" data-wow-duration = "0.8s" data-wow-delay = "0.9s">Prosumer Ecosystem market place(equipment, costumes)</li>
                <li class = "wow fadeInRight" data-wow-duration = "0.8s" data-wow-delay = "1.1s">Live streaming </li>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!--  Market scope -->
  <div id="market-scope">
    <div class="container">
      <div class="row">
        <h2 class="module-title">Market scope</h2>
        <div class="col-md-5 col-sm-6 col-xs-12 simple-diagram wowzoomIn" data-wow-duration = "1s" data-wow-delay = "0.4s">
        <h5>Overall M&E Industry</h5>
          <img src="img/ms-diagram.png" alt="diagram">
        <p>Value of the global entertainment and media market from 2014 to 2018 (in trillion U.S. dollars)</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 round wow zoomIn" data-wow-duration = "1s" data-wow-delay = "0.7s">  
            <h4>Side service <br> providers:</h4>
            <ul>
              <li>Catering</li>
              <li>Equipment Rental</li>
              <li>Locations</li>
              <li>Production / Postproduc-<br>tion</li>
              <li>Logistics</li>
              <li>More</li>
            </ul>
        </div>
      </div>
      <div class="row"> 
          <div class="col-md-3 col-sm-6 col-xs-12 round-diagram wow fadeInLeft" data-wow-duration = "1s" data-wow-delay = "0.4s"><img src="img/ms-round-diagram.png" alt="round-diagram"> </div>
          <div class="col-md-4 col-sm-6 col-xs-12 round-diagram-discription wow fadeInLeft" data-wow-duration = "1s" data-wow-delay = "0.4s">
            <div class="row"> 
                <h5>Breakdown of Global <span>$12.4bn</span> <br> Talent Sourcing Market</h5>
                <div class="col-md-5 col-sm-5 col-xs-6">
                  <ul class="left-part">
                    <li><span class = "r-diagram-persent">23%</span><span class = "r-diagram-who">Actors</span></li>
                    <li><span class = "r-diagram-persent">18%</span><span class = "r-diagram-who">Models</span></li>
                    <li><span class = "r-diagram-persent">13%</span><span class = "r-diagram-who">Dancers</span></li>
                    <li><span class = "r-diagram-persent">12%</span><span class = "r-diagram-who">Musicians</span></li>
                  </ul>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-6">
                  <ul class="right-part">
                    <li><span class = "r-diagram-persent">11%</span><span class = "r-diagram-who">Singer</span></li>
                    <li><span class = "r-diagram-persent">9%</span><span class = "r-diagram-who">Hosts</span></li>
                    <li><span class = "r-diagram-persent">4%</span><span class = "r-diagram-who">Street Performers</span></li>
                    <li><span class = "r-diagram-persent">10%</span><span class = "r-diagram-who">Other</span></li>
                  </ul>
                </div>
            </div>
          </div>
          <div class="col-md-5 col-sm-8 col-xs-12 triangle wow fadeInRight" data-wow-duration = "1s" data-wow-delay = "0.7s">
            <ul class = 'triangle-list'>
              <li>
               <span class="tr-persent">4%</span><p>International <br> Pro talents</p>
              </li>
              <li>
                <span class="tr-persent">14%</span><p>Local <br> Pro talents</p>
              </li>
              <li>
                <span class="tr-persent">82%</span><p>Local <br> Wannabe</p>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>


  <!--  Mentor board -->
  
  <div id="mentor-board"> 
      <h2 class="module-title">Mentor board</h2>
      <div class="container">
        <div class="row">
          <ul>
            <li>
              <div class = "mentor-photo-wrapper">
                <img src="img/JKonn.png" alt="Jevgenij Konn">
                <span class="mentor-position">Mentor</span>
                <span class="mentor-name">Jevgenij Konn</span>
              </div>
              <a href="" class="link-to-linkedLn">roman-tronenko</a>
              <p>Business administration and finance alumni of Heinrich Heine University of Düsseldorf. With over 15 years working in banking and corporate industries in Germany, he acquired profound knowledge and expertise in topics, related to financial markets, treasury and small-cap companies financing. Relocated to Shanghai 3 years ago to lead Asia-Pacific Treasury Department for a DAX-member German multinational company. CFA® charterholder.</p>
            </li>
            <li>
              <div class = "mentor-photo-wrapper">
                <img src="img/SamuelD.png" alt="Samuel Doe">
                <span class="mentor-position">Mentor</span>
                <span class="mentor-name">Samuel Doe</span>
              </div>
              <a href="" class="link-to-linkedLn">roman-tronenko</a>
              <p>Samuel Doe is a serial entrepreneur with over 28 years’ of experience across various industries such as: video games/software development, mobile, internet, social media, digital vending, maritime, and automotive.He specializes in developing and bringing to market early stage startups and scale-ups – with a strong focus on monetization. He has successfully founded and sold 4 of his startups in the USA.Samuel has personally worked with: Intel, HP, Microsoft, Symantec, Google, Yahoo, Excite, EA, Nintendo, Sony, Sega, Midway, Activision, Hasbro, Mattel, Vivendi Universal, Digital Domain, Lucas Arts, Dream Works, Samsung, Motorola, Texas Instruments, Westfield Group, Simon Group; as well as other reputable technological organizations</p>
            </li>
          </ul>
        </div>
      </div>
  </div>
  

  <!-- the team -->
  <div id="team">
    <div class="container">
      <div class="row">
        <h2 class="module-title">The team</h2>
        <div class="col-md-3 col-sm-6 col-xs-12 worker-card worker-card-first wow bounceInDown" data-wow-duration = "1.2s" data-wow-delay = "0.4s">
          <div class="photo-wrapper changed"><img src="img/1-team.png" alt="worker"><span class="position">CEO</span><br><span class="name">Roman Tronenko</span>
          </div>
        <a href="" class="link-to-linkedLn">roman-tronenko</a>
          <div class="content-wrapper-text"> 
           <ul>
              <li>The founder and initiator <br>of the go  experiences in Golang, Python, Java and Ruby.</li>
              <li>Developed mobile solutions for Alibaba, italki.com, open <br> language.com, and more.</li>
            </ul>
              <p>Graduated from St. Petersburg State
University, Russia he is living in
Shanghai, PRC more than a decade.
The area of expertise including but
not limited to the apparel
manufacturing, media publishing
house, food and non-food
import/export and distribution,
biomedicine technologies and
regenerative medicine. Dmitry runs <br>a group of companies set in China,
Vietnam, Hong Kong, Taiwan and
Russia, which makes him able to
handle any sort of tax and legal issues
in Asia as well as be experienced
enough in scaling strategies.</p>
          </div>
          
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 col-md-offset-1 worker-card wow bounceInDown" data-wow-duration = "1.2s" data-wow-delay = "0.6s">
          <div class="photo-wrapper changed"><img src="img/2-team.png" alt="worker"><span class="position">CEO</span><br><span class="name">Roman Tronenko</span>
          </div>
          <a href="" class="link-to-linkedLn">dtimokhin</a>
          <div class="content-wrapper-text"> 
          <ul>
              <li>The founder and initiator <br>of the go  experiences in Golang, Python, Java and Ruby.</li>
              <li>Developed mobile solutions for Alibaba, italki.com, open <br> language.com, and more.</li>
            </ul>
              <p>Graduated from St. Petersburg State
University, Russia he is living in
Shanghai, PRC more than a decade.
The area of expertise including but
not limited to the apparel
manufacturing, media publishing
house, food and non-food
import/export and distribution,
biomedicine technologies and
regenerative medicine. Dmitry runs <br>a group of companies set in China,
Vietnam, Hong Kong, Taiwan and
Russia, which makes him able to
handle any sort of tax and legal issues
in Asia as well as be experienced
enough in scaling strategies.</p>
          </div>
            
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 col-md-offset-1 worker-card wow bounceInDown" data-wow-duration = "1.2s" data-wow-delay = "0.8s">
          <div class="photo-wrapper changed"><img src="img/3-team.png" alt="worker"><span class="position">CEO</span><br><span class="name">Roman Tronenko</span>
          </div>
          <a href="" class="link-to-linkedLn">dimitry-doronin</a>
          <div class="content-wrapper-text"> 
          <ul>
              <li>The founder and initiator <br>of the go  experiences in Golang, Python, Java and Ruby.</li>
              <li>Developed mobile solutions for Alibaba, italki.com, open <br> language.com, and more.</li>
            </ul>
              <p>Graduated from St. Petersburg State
University, Russia he is living in
Shanghai, PRC more than a decade.
The area of expertise including but
not limited to the apparel
manufacturing, media publishing
house, food and non-food
import/export and distribution,
biomedicine technologies and
regenerative medicine. Dmitry runs <br>a group of companies set in China,
Vietnam, Hong Kong, Taiwan and
Russia, which makes him able to
handle any sort of tax and legal issues
in Asia as well as be experienced
enough in scaling strategies.</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <!-- // Roadmap // -->

  <div id="roadmap">
    <div class="container">
    <h2 class="module-title">Roadmap</h2>
      <div class="row tree-wrapper">
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-5 col-md-offset-2 date-wrapper">
            <ul>
              <li class = "wow fadeInLeft" data-wow-duration = "1.5s" data-wow-delay = "0.2s">October <span>2017</span></li>
              <li class = "wow fadeInLeft" data-wow-duration = "1.5s" data-wow-delay = "0.3s">December <span>2017</span></li>
              <li class = "wow fadeInLeft" data-wow-duration = "1.5s" data-wow-delay = "0.4s">February <span>2018</span></li>
            </ul>
          </div>
          <div class="col-md-5 col-sm-8 col-xs-7 event-wrapper">
            <ul>
              <li class = "wow fadeInRight" data-wow-duration = "1.5s" data-wow-delay = "0.2s">Launch of Website and blog, MDL Token issue</li>
              <li class = "wow fadeInRight" data-wow-duration = "1.5s" data-wow-delay = "0.3s">GUI+BC prototype</li>
              <li class = "wow fadeInRight" data-wow-duration = "1.5s" data-wow-delay = "0.4s">MVP launch</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-5 col-md-offset-2 date-wrapper">
            <ul>
              <li class = "wow fadeInLeft" data-wow-duration = "1.5s" data-wow-delay = "0.5s">August <span>2018</span></li>
              <li class = "wow fadeInLeft" data-wow-duration = "1.5s" data-wow-delay = "0.6s">September <span>2018</span></li>
            </ul>
          </div>
          <div class="col-md-5 col-sm-8 col-xs-7 event-wrapper">
            <ul>
              <li class = "wow fadeInRight" data-wow-duration = "1.5s" data-wow-delay = "0.5s">Round A investments</li>
              <li class = "wow fadeInRight" data-wow-duration = "1.5s" data-wow-delay = "0.6s">Alpha Launch, entry to Shanghai market </li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-5 col-md-offset-2 date-wrapper">
            <ul>
              <li class = "wow fadeInLeft" data-wow-duration = "1.5s" data-wow-delay = "0.7s">April <span>2019</span></li>
              <li class = "wow fadeInLeft" data-wow-duration = "1.5s" data-wow-delay = "0.8s">May <span>2019</span></li>
              <li class = "wow fadeInLeft" data-wow-duration = "1.5s" data-wow-delay = "0.9s">July <span>2019</span></li>
            </ul>
          </div>
          <div class="col-md-5 col-sm-8 col-xs-7 event-wrapper">
            <ul>
              <li class = "wow fadeInRight" data-wow-duration = "1.5s" data-wow-delay = "0.7s">Beta Launch</li>
              <li class = "wow fadeInRight" data-wow-duration = "1.5s" data-wow-delay = "0.8s">Round B investment</li>
              <li class = "wow fadeInRight" data-wow-duration = "1.5s" data-wow-delay = "0.9s">Entry to local talent sourcing markets in entire Asia</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  
  <footer>
    <div class="container">
      <div class="row">
          <a class = "link-f" href="" download>White paper</a>
          <a class = "link-f" href="" download>Blog</a>
          <ul>
            <li>
              <a href=""><object type="image/svg+xml" data="img/facebook-logo-button-1.svg"></object></a>
            </li>
            <li><a href=""><object type="image/svg+xml" data="img/steemit.svg"></object></a></li>
            <li><a href=""><object type="image/svg+xml" data="img/facebook-logo-button-1.svg"></object></a></li>
            <li><a href=""><object type="image/svg+xml" data="img/facebook-logo-button-1.svg"></object></a></li>
            <li><a href=""><object type="image/svg+xml" data="img/facebook-logo-button-1.svg"></object></a></li>
            <li><a href=""><object type="image/svg+xml" data="img/facebook-logo-button-1.svg"></object></a></li>
          </ul>
          <h2><a href="#home">MDL<span> Talent Hub</span></a></h2>
      </div>
    </div>
  </footer>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src = "js/WOW/dist/wow.min.js"></script>
    <script>
              new WOW().init();
    </script>
    

  </body>
</html>