@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.ttf") format("truetype"), url("../fonts/Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

.article__header {
  padding: 24px 21px 16px 21px; }
  @media (max-width: 768px) {
    .article__header {
      padding: 0 19px 0 19px;
      margin: 0 auto; } }

.article__title {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #160027; }
  @media (max-width: 768px) {
    .article__title {
      font-size: 13px;
      letter-spacing: 0.69px; } }

.article__date {
  margin: 8px 0 0 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #999999; }
  @media (max-width: 768px) {
    .article__date {
      font-size: 12px;
      letter-spacing: 0.21px; } }

.article__link-inner {
  text-decoration: none; }

.article__image {
  display: block;
  width: 100%;
  height: 117px;
  overflow: hidden; }
  @media (max-width: 768px) {
    .article__image {
      display: none;
      padding: 0 19px;
      margin: 0 auto;
      min-height: 156px;
      width: auto; } }

.article__image-inner {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .6s ease-out;
  -o-transition: all .6s ease-out;
  transition: all .6s ease-out; }

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.ttf") format("truetype"), url("../fonts/Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

.article__content {
  padding: 16px 17px 0 21px; }
  @media (max-width: 768px) {
    .article__content {
      margin: 0 auto;
      padding: 0 19px 0 19px; } }

.article__text {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #b4b3b3; }
  @media (max-width: 768px) {
    .article__text {
      display: none;
      font-size: 13px;
      letter-spacing: 0.22px; } }

.article__link {
  display: block;
  margin-top: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #320256;
  text-decoration: none; }
  @media (max-width: 768px) {
    .article__link {
      display: none; } }

.article__divider {
  margin: 20px 0 16px 0;
  height: 1px;
  width: 100%;
  background-color: #b8b8b8;
  opacity: .5; }
  @media (max-width: 768px) {
    .article__divider {
      display: none; } }

.article__tag {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #FF2394; }
  @media (max-width: 768px) {
    .article__tag {
      margin: 8px 0 0;
      font-size: 11px;
      letter-spacing: 0.19px; } }

.article {
  margin: 0 auto 25px;
  width: 457px;
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  background-color: white;
  border: solid 1px #f3f3f3; }
  .article:hover .article__image-inner {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2); }
  @media (max-width: 991px) {
    .article {
      width: 350px;
      height: 430px; } }
  @media (max-width: 768px) {
    .article {
      margin: 0 auto 20px;
      padding-bottom: 20px;
      position: relative;
      width: 100%;
      height: auto;
      -webkit-box-shadow: none;
              box-shadow: none;
      border: none; }
      .article:hover .article__image-inner {
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1); }
      .article:after {
        content: '';
        position: absolute;
        display: block;
        bottom: 0;
        left: 19px;
        width: -webkit-calc(100% - 19px);
        width: calc(100% - 19px);
        height: 1px;
        background-color: rgba(0, 0, 0, 0.18); }
      .article.article_first:after {
        width: 100%;
        left: 0; }
      .article.article_first .article__header {
        padding: 12px 19px 0 19px; }
      .article.article_first .article__image {
        display: block; }
      .article.article_first .article__content {
        padding: 8px 19px 0 19px; }
      .article.article_first .article__text {
        display: block; } }
